<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form Edit Berita
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered" id="sispk_form" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Judul <span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" name="NEWS_TITLE" id="NEWS_TITLE" class="form-control wajib" value="@ViewBag.datanews.NEWS_TITLE">
                                    <input type="hidden" name="NEWS_ID" value="@ViewBag.datanews.NEWS_ID">
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
										<label class="control-label col-md-3">Gambar</label>
										<div class="col-md-9">
											<div class="fileinput fileinput-new" data-provides="fileinput">
												<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 150px; line-height: 150px;">
                                                    <img id="preview_edit" src="../../../@ViewBag.datanews.NEWS_PATH_IMAGE" />
												</div>
												<div>
													<span class="btn default btn-file">
													<span class="fileinput-new">
													Ganti Gambar </span>
													<span class="fileinput-exists">
													Ganti </span>
													<input type="hidden" value="" name="NEWS_PATH_IMAGE"><input type="file" name="Image" id="Image" accept='image/*'>
													</span>
													<a href="javascript:;" class="btn red fileinput-exists" data-dismiss="fileinput">
													Hapus </a>
												</div>
											</div>
											<div class="clearfix margin-top-10">
												<span class="label label-danger">
												NOTE! </span>
												&nbsp;&nbsp;Image preview hanya muncul pada IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. untuk browser yang selain itu hanya nama file yang muncul.
											</div>
										</div>
					    </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Berita Singkat</label>
                            <div class="col-md-9">
                                <textarea id="NEWS_BRIEF_NEWS" class="form-control wajib" name="NEWS_BRIEF_NEWS">@ViewBag.datanews.NEWS_BRIEF_NEWS</textarea>
                            </div>
                        </div>

                        <div class="form-group">
									<label class="control-label col-md-3">Sumber</label>
									<div class="col-md-9">
										<input id="NEWS_SUMBER" type="text" class="form-control wajib" name="NEWS_SUMBER" value="@ViewBag.datanews.NEWS_SUMBER">                                    
									</div>
						</div> 
                        
                        <div class="form-group">
									<label class="control-label col-md-3">Tag</label>
									<div class="col-md-9">
										<input id="tags_1" type="text" class="form-control tags wajib" name="NEWS_TAG" value="@ViewBag.datanews.NEWS_TAG">                                    
									</div>
						</div> 

                        

                    <div class="form-actions">
                        <div class="form-group last">
                            <div class="col-md-12">
                                <textarea class="ckeditor form-control" name="NEWS_CONTENTS" rows="10" data-error-container="#editor2_error">
                                    @ViewBag.datanews.NEWS_CONTENTS
                                </textarea>
                                <div id="editor2_error">
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn green" type="submit">Simpan</button>
                                <a class="btn red" type="button" href="@Url.Action("index")">Batal</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>


<script type="text/javascript">
    $('document').ready(function () {        
        $('#Image').bind('change', function () {
            $("#preview_edit").remove();
            //var view_img_besar = $("#SLIDER_IMAGE_BIG_PATH").val();
            var file_size = this.files[0].size / 1024 / 1024;
            if (file_size > 1) {
                alert('Gambar Terlalu Besar');
                $('#fileinput-exists').click();
            }
        });

    });
</script>