@{
    var Detail = ViewBag.DataProposal;
    var Lampiran = ViewBag.Lampiran;
    var Bukti = ViewBag.Bukti;
    var Surat = ViewBag.Surat;
    var Outline = ViewBag.Outline;
}
<style>
    .select2-selection--single {
        height: 100% !important;
    }

    .select2-selection__rendered {
        word-wrap: break-word !important;
        text-overflow: inherit !important;
        white-space: normal !important;
    }

    .aReference {
        font-size: 14px;
        margin: 5px 0 0;
        font-family: "Open Sans",sans-serif;
        font-weight: 300;
        line-height: 1.1;
        color: inherit;
    }

    a:hover.aReference {
        text-decoration: none;
        color: inherit;
    }

    a:visited.aReference {
        text-decoration: none;
        color: inherit;
    }

    a:active.aReference {
        text-decoration: none;
        color: inherit;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form Pengesahan RASNI
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered" id="sispk_form" action="" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Judul RASNI</label>
                            <div class="col-md-9 control-label detailtext">
                                @Detail.PROPOSAL_JUDUL_SNI_PROPOSAL
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Nomor RASNI</label>
                            <div class="col-md-9 control-label detailtext">
                                @Detail.PROPOSAL_NO_SNI_PROPOSAL
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Data RASNI</label>
                            <div class="col-md-7 control-label detailtext">
                                <ol style="padding-left: 15px;">
                                    @if (ViewBag.DefaultDokumen != null)
                                    {
                                        <li><a href="@ViewBag.DefaultDokumen.DOC_FILE_PATH@ViewBag.DefaultDokumen.DOC_FILE_NAME.@ViewBag.DefaultDokumen.DOC_FILETYPE" target="_blank" style="color: blue; text-decoration: none;">Data @ViewBag.DefaultDokumen.DOC_RELATED_TYPE_NAME</a></li>
                                    }
                                </ol>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Tanggal Memo Kapus</label>
                            <div class="col-md-3 control-label detailtext">
                                <input type="hidden" name="PROPOSAL_ID" id="PROPOSAL_ID" value="@Detail.PROPOSAL_ID" />
                                <input type="hidden" name="PROPOSAL_KOMTEK_ID" id="PROPOSAL_KOMTEK_ID" value="@Detail.KOMTEK_ID" />
                                <input type="hidden" name="PROPOSAL_PNPS_CODE" id="PROPOSAL_PNPS_CODE" value="@Detail.PROPOSAL_PNPS_CODE" />

                                <input type="text" name="MEMO_KAPUS_DATE" id="MEMO_KAPUS_DATE" class="form-control col-md-3 wajib date-picker" data-date-format="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Upload Memo Kapus</label>
                            <div class="col-md-3 control-label detailtext">
                                <input type="file" name="MEMO_KAPUS" id="MEMO_KAPUS" onchange="ValidasiInput(this)" data-ext=".pdf" accept=".pdf,application/pdf" class="form-control col-md-3 wajib" style="padding: 0px; font-size: 12px; border-radius: 0px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Tanggal Memo Deputi</label>
                            <div class="col-md-3 control-label detailtext">
                                <input type="text" name="MEMO_DEPUTI_DATE" id="MEMO_DEPUTI_DATE" class="form-control col-md-3 wajib date-picker" data-date-format="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Upload Memo Deputi</label>
                            <div class="col-md-3 control-label detailtext">
                                <input type="file" name="MEMO_DEPUTI" id="MEMO_DEPUTI" onchange="ValidasiInput(this)" data-ext=".pdf" accept=".pdf,application/pdf" class="form-control col-md-3 wajib" style="padding: 0px; font-size: 12px; border-radius: 0px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Upload Lembar Kendali</label>
                            <div class="col-md-3 control-label detailtext">
                                <input type="file" name="LEMBAR_KENDALI" id="LEMBAR_KENDALI" onchange="ValidasiInput(this)" data-ext=".pdf" accept=".pdf,application/pdf" class="form-control col-md-3 wajib" style="padding: 0px; font-size: 12px; border-radius: 0px;">
                            </div>
                            @*<div class="col-md-6 control-label detailtext" style="border-left: none;">
                                <a href="/Laporan/Export/FORMAT_LEMBAR_KENDALI?Type=docx&PROPOSAL_ID=@Detail.PROPOSAL_ID" target="_blank" style="color: blue; text-decoration: none;">Download Template Lembar Kendali</a>
                            </div>*@
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="hidden" class="form-control wajib" name="APPROVAL_TYPE" id="APPROVAL_TYPE_1" value="1">
                                <button class="btn blue btn_approval" name="ButtonSimpan" id="ButtonSimpan1" type="submit" value="0">Lanjut Ke Penetapan SNI</button>
                                <a class="btn red" href="@Url.Action("Index")">Kembali</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<div id="res_data_referensi" style="display: none;" data-jumlah="@ViewBag.Dokumen.Count">
    @if (ViewBag.Dokumen.Count != 0)
    {
        foreach (var i in ViewBag.Dokumen)
        {
        <li class="media dok_pen" data-id="@i.DOC_ID">
            <a class="aReference" target="_blank" href="@i.DOC_FILE_PATH@i.DOC_FILE_NAME.@i.DOC_FILETYPE">
                <div class="media-body">
                    <h4 class="media-heading">@i.DOC_NAME</h4>
                    <div class="media-heading-sub">
                        @i.DOC_CREATE_NAME
                    </div>
                    <div class="isi_dokument_@i.DOC_ID" style="display:none;"></div>
                </div>
            </a>
        </li>
        }
    }
    else
    {
        <li class="media" style="background: #4d6178;">
            <div class="media-body">
                <div class="media-heading-sub" style="text-align: center;">
                    Data Tidak Ditemukan
                </div>
            </div>
        </li>
    }
</div>
<div id="res_data_referensi_lain" style="display: none;" data-jumlah="@ViewBag.RefLain.Count">
    @if (ViewBag.RefLain.Count != 0)
    {
        foreach (var i2 in ViewBag.RefLain)
        {
        <li class="media dok_pen" data-id="@i2.DOC_ID" >
            <a class="aReference" target="_blank" href="@i2.DOC_FILE_PATH@i2.DOC_FILE_NAME.@i2.DOC_FILETYPE">
                <div class="media-body">
                    <h4 class="media-heading">@i2.DOC_NAME</h4>
                    <div class="media-heading-sub">
                        @i2.DOC_CREATE_NAME
                    </div>
                    <div class="isi_dokument_@i2.DOC_ID" style="display:none;"></div>
                </div>
            </a>
        </li>
        }
    }
    else
    {
        <li class="media" style="background: #4d6178;">
            <div class="media-body">
                <div class="media-heading-sub" style="text-align: center;">
                    Data Tidak Ditemukan
                </div>
            </div>
        </li>
    }
</div>


<script type="text/javascript">
    //var _validFileExtensions = [".doc", ".docx", ".jpg", ".jpeg", ".png"];

    function ValidasiInput(ini) {
        var _validFileExtensions = $(ini).attr('data-ext').split(",");
        var arrInputs = $(ini);
        for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
            if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }

                    if (!blnValid) {
                        alert("Maaf, " + sFileName + " tidak dapat di Upload, Extensi yang dapat di Upload adalah : " + _validFileExtensions.join(", "));
                        $(ini).val('');
                        return false;
                    }
                }
            }
        }

        return true;
    }
    function send_submit_tipe(res) {
        $('#SUBMIT_TIPE').val(res);
    }

    function cari_dokumen(ini) {
        var tipe = parseInt($(ini).attr('data-tipe'));
        var pencarian = $(ini).val();
        var id = parseInt($('#PROPOSAL_ID').val());

        var formData = { PROPOSAL_ID: id, SEARCH_NAME: pencarian, SEARCH_TIPE: tipe };
        $.ajax({
            type: 'POST',
            url: "/Perumusan/RSNI1/GetContentSearch",
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify(formData)
        }).done(function (res) {
            var Dokumen = res.Dokumen;
            var i = Dokumen.length;
            var hasil = "";
            if (i > 0) {
                for (var d = 0; d < i; d++) {
                    hasil += '<li class="media dok_pen" data-id="' + Dokumen[d].DOC_ID + '" onclick="openreferensi(' + Dokumen[d].DOC_ID + ');">';
                    hasil += '<div class="media-body">';
                    hasil += '<h4 class="media-heading">' + Dokumen[d].DOC_NAME + '</h4>';
                    hasil += '<div class="media-heading-sub">';
                    hasil += Dokumen[d].DOC_CREATE_NAME;
                    hasil += '</div>';
                    hasil += ' <div class="isi_dokument_' + Dokumen[d].DOC_ID + '" style="display:none;"></div>';
                    hasil += '</div>';
                    hasil += '</li>';
                }
            } else {
                hasil += '<li class="media" style="background: #4d6178;">';
                hasil += '<div class="media-body">';
                hasil += '<div class="media-heading-sub" style="text-align:center;">';
                hasil += 'Data Tidak Ditemukan';
                hasil += '</div>';
                hasil += '</div>';
                hasil += '</li>';
            }
            if (tipe == 1) {
                $('ul.data_dok_pendukung').html(hasil);
            } else {
                $('ul.data_dok_referensi').html(hasil);
            }
        });
    }
    function openreferensi(id) {
        $('.firstactive').click();
        $('.dropdown-toggle').click();
        $('.susunrsnilayout').find('.deflayout').removeClass('col-md-12').addClass('col-md-6');
        var formData = { DOC_ID: id };
        var IsiContent = "";
        $.ajax({
            type: 'POST',
            url: "/Perumusan/RSNI1/GetContent",
            contentType: "application/json",
            dataType: 'json',
            data: JSON.stringify(formData)
        }).done(function (res) {
            IsiContent = res.data;
            $('.susunrsnilayout').append('<div class="col-md-6 newlayout" style="border-left:none;"><div id="infodetail" contenteditable="false">' + IsiContent + '</div></div>');
            CKEDITOR.inline('infodetail');
        });


    }

    jQuery(document).ready(function () {

        bukaloading();
        //CKEDITOR.disableAutoInline = true;
        //var ckEditor = CKEDITOR.replace('rsni1content', { height: '300px' });

        var dataref = jQuery('#res_data_referensi').html();
        var dataref2 = jQuery('#res_data_referensi_lain').html();
        var datarefjumlah = jQuery('#res_data_referensi').attr("data-jumlah");
        var dataref2jumlah = jQuery('#res_data_referensi_lain').attr("data-jumlah");
        $('ul.data_dok_pendukung').html(dataref);
        $('ul.data_dok_referensi').html(dataref2);
        $('.dok_pendukung_jml').html(datarefjumlah);
        $('.dok_referensi_jml').html(dataref2jumlah);

        //ckEditor.on("instanceReady", function (ev) {
        //    tutupmenu();
        //    tutuploading();
        //});

        $('.searchinput').keypress(function (e) {
            if (e.which == 13) {
                cari_dokumen(this);
            }
        });
        $('#bukaref').click(function () {
            var isOpen = parseInt($(this).attr('data-isOpen'));
            if (isOpen == 1) {
                $(this).attr('data-isOpen', 0);
                $(this).html('Buka Referensi');
            } else {
                $(this).attr('data-isOpen', 1);
                $(this).html('Tutup Referensi');
            }
            $('body').toggleClass('page-quick-sidebar-open');
        });
        //tutupmenu();
        tutuploading();
        $('[name="APPROVAL_TYPE"]').click(function () {
            var res = $(this).val();
            if (res == 1) {
                $('.aksi_tidak_disetujui').slideUp("fast", function () {
                    $('[name="APPROVAL_TYPE"]').removeClass('wajib');
                    $('#APPROVAL_REASON').removeClass('wajib');
                    $('.aksi_publikasi').slideDown("fast", function () {
                        $('#POLLING_START_DATE').addClass('wajib');
                        $('#POLLING_END_DATE').addClass('wajib');
                    });
                });

            } else {
                $('.aksi_tidak_disetujui').slideDown("fast", function () {
                    $('[name="APPROVAL_TYPE"]').addClass('wajib');
                    $('#APPROVAL_REASON').addClass('wajib');
                    $('.aksi_publikasi').slideUp("fast", function () {
                        $('#POLLING_START_DATE').removeClass('wajib');
                        $('#POLLING_END_DATE').removeClass('wajib');
                    });
                });
            }
        });
        $('.date-picker').datepicker({
            orientation: "center",
            autoclose: true
        });
    });

</script>
