@{
    var Detail = ViewBag.DataProposal;
    string AcuanNormatif = "";
    string AcuanNonNormatif = "";
    string Bibliografi = "";
}
<style>
    .select2-selection--single {
        height: 100% !important;
    }

    .select2-selection__rendered {
        word-wrap: break-word !important;
        text-overflow: inherit !important;
        white-space: normal !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form Ubah Data Pengajuan Usulan
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered" id="sispk_form" action="" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        @if (Convert.ToInt32(Session["IS_KOMTEK"]) == 1)
                        {
                            <div class="form-group">
                                <label class="control-label col-md-3">Komite Teknis / Subkomite Teknis <span class="required">*</span></label>
                                <div class="col-md-9 control-label detailtext">
                                    @Session["KOMTEK_CODE"]. @Session["KOMTEK_NAME"]
                                    <input type="hidden" value="@Convert.ToInt32(Session["KOMTEK_ID"])" name="PROPOSAL_KOMTEK_ID" id="PROPOSAL_KOMTEK_ID" class="form-control">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="control-label col-md-3">Komite Teknis / Subkomite Teknis <span class="required">*</span></label>
                                <div class="col-md-4">
                                    <div style="text-align: left" class="input-group col-md-12">
                                        <select class="form-control select2me wajib " data-placeholder="Pilih Komite Teknis / Subkomite Teknis" id="PROPOSAL_KOMTEK_ID" name="PROPOSAL_KOMTEK_ID">
                                            <option></option>
                                            @foreach (var kt in ViewBag.ListKomtek)
                                            { 
                                                <option @((Detail.PROPOSAL_KOMTEK_ID == kt.KOMTEK_ID) ? "selected" : "") value="@kt.KOMTEK_ID">@kt.KOMTEK_CODE. @kt.KOMTEK_NAME</option>   
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="control-label col-md-3">Konseptor <span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" id="PROPOSAL_KONSEPTOR" name="PROPOSAL_KONSEPTOR" class="form-control wajib" value="@Detail.PROPOSAL_KONSEPTOR">
                                    <input type="hidden" value="1" name="PROPOSAL_TYPE" id="PROPOSAL_TYPE" class="form-control">
                                    <input type="hidden" id="PROPOSAL_ID" name="PROPOSAL_ID" class="form-control wajib" value="@Detail.PROPOSAL_ID">
                                    <input type="hidden" id="PROPOSAL_LOG_CODE" name="PROPOSAL_LOG_CODE" class="form-control wajib" value="@Detail.PROPOSAL_LOG_CODE">
                                    <input type="hidden" value="@DateTime.Now.Year" name="PROPOSAL_YEAR" id="PROPOSAL_YEAR" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Institusi Konseptor <span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" id="PROPOSAL_INSTITUSI" name="PROPOSAL_INSTITUSI" class="form-control wajib " value="@Detail.PROPOSAL_INSTITUSI">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Judul PNPS <span class="required">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <input type="text" id="PROPOSAL_JUDUL_PNPS" name="PROPOSAL_JUDUL_PNPS" class="form-control wajib " value="@Detail.PROPOSAL_JUDUL_PNPS">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Ruang Lingkup <span class="required">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <input type="text" id="PROPOSAL_RUANG_LINGKUP" name="PROPOSAL_RUANG_LINGKUP" class="form-control wajib " value="@Detail.PROPOSAL_RUANG_LINGKUP">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Jenis Perumusan SNI <span class="required">*</span></label>
                            <div class="col-md-4">
                                <div style="text-align: left" class="input-group col-md-12">
                                    <select class="form-control select2me wajib " data-placeholder="Pilih Jenis Perumusan SNI" id="PROPOSAL_JENIS_PERUMUSAN" name="PROPOSAL_JENIS_PERUMUSAN" onchange="cekjenis(this)">
                                        <option></option>
                                        <option value="1" @((Detail.PROPOSAL_JENIS_PERUMUSAN == 1) ? "selected" : "")>Baru</option>
                                        <option value="2" @((Detail.PROPOSAL_JENIS_PERUMUSAN == 2) ? "selected" : "")>Revisi</option>
                                        <option value="3" @((Detail.PROPOSAL_JENIS_PERUMUSAN == 4) ? "selected" : "")>Ralat</option>
                                        <option value="3" @((Detail.PROPOSAL_JENIS_PERUMUSAN == 3) ? "selected" : "")>Amandemen</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Jalur Perumusan SNI Baru / Revisi <span class="required">*</span></label>
                            <div class="col-md-5">
                                <div style="text-align: left" class="input-group col-md-12">
                                    <select class="form-control select2me wajib " data-placeholder="Pilih Jalur Perumusan SNI Baru / Revisi" id="PROPOSAL_JALUR" name="PROPOSAL_JALUR" onchange="set_jalur(this)">
                                        <option></option>
                                        <option value="1" @((Detail.PROPOSAL_JALUR == 1) ? "selected" : "")>Perumusan sendiri berdasarkan penelitian</option>
                                        <option value="2" @((Detail.PROPOSAL_JALUR == 2) ? "selected" : "")>Adopsi identik standar atau publikasi internasional</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="adopsi_list" style="display: none;">
                            <div class="form-group">
                                <label class="control-label col-md-3">Metode Adopsi</label>
                                <div class="col-md-4">
                                    <div style="text-align: left" class="input-group col-md-12">
                                        <select class="form-control select2me" data-placeholder="Pilih Metode Adopsi" id="PROPOSAL_METODE_ADOPSI" name="PROPOSAL_METODE_ADOPSI" onchange="cekmetode(this)">
                                            <option></option>
                                            <option value="1" @((Detail.PROPOSAL_METODE_ADOPSI == 1) ? "selected" : "")>Publikasi ulang - cetak ulang</option>
                                            <option value="2" @((Detail.PROPOSAL_METODE_ADOPSI == 2) ? "selected" : "")>Terjemahan dua bahasa (Indonesia dan Inggris)</option>
                                            <option value="3" @((Detail.PROPOSAL_METODE_ADOPSI == 3) ? "selected" : "")>Terjemahan satu bahasa (Indonesia)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Standar ISO/IEC/SDO lain yang akan diadopsi secara <b>Identik</b></label>
                                <div class="col-md-9">
                                    <div style="text-align: left" class="input-group col-md-12">
                                        <select class="form-control" data-placeholder="Masukan No Standar adopsi Identik" id="PROPOSAL_NO_STD_ADOPSI_IDENTIK" name="PROPOSAL_NO_STD_ADOPSI_IDENTIK">
                                            <option></option>
                                            <option value="@Detail.PROPOSAL_NO_STD_ADOPSI_IDENTIK" selected="selected">@Detail.PROPOSAL_NO_STD_ADO_ID_NAME</option>
                                        </select>
                                    </div>
                                    <div class="help-block">
                                        Sebutkan standar ISO/EIC/SDO lain (Misalnya ASTM) yang akan diadopsi.(beri nomor standar, tahun terbitan dan judul standar yang akan diadopsi secara identik.)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">Nomor Judul SNI yang akan diterjemahkan</label>
                                <div class="col-md-9">
                                    <div style="text-align: left" class="input-group col-md-12">
                                        <select class="form-control" data-placeholder="Masukan Nomor SNI" id="PROPOSAL_TERJEMAHAN_SNI_ID" name="PROPOSAL_TERJEMAHAN_SNI_ID">
                                            <option></option>
                                            <option value="@Detail.PROPOSAL_TERJEMAHAN_SNI_ID" selected="selected">@Detail.PROPOSAL_TERJEMAHAN_NOMOR @Detail.PROPOSAL_TERJEMAHAN_JUDUL</option>
                                        </select>
                                    </div>
                                    <div class="help-block">
                                        Apabila usulan ini merupakan terjemahan dari SNI rep-rep yang sudah dipublikasikan. Maka sebutkan nomor dan judul SNI yang akan diterjemahkan.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mod_ind_list" style="display: none;">
                            <div class="form-group">
                                <label class="control-label col-md-3">Apakah Adopsi Modifikasi standar atau publikasi internasional</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <div class="radio-list">
                                            <label>
                                                <input type="radio" class="PROPOSAL_IS_ADOPSI_MOD form-control adopsi_radio" name="PROPOSAL_IS_ADOPSI_MOD" id="PROPOSAL_IS_ADOPSI_MOD_1" value="1" onclick="set_adop_modif()" @((Detail.PROPOSAL_IS_ADOPSI_MOD == 1) ? "checked" : "")>
                                                Ya</label>
                                            <label>
                                                <input type="radio" class="PROPOSAL_IS_ADOPSI_MOD form-control adopsi_radio" name="PROPOSAL_IS_ADOPSI_MOD" id="PROPOSAL_IS_ADOPSI_MOD_2" value="2" onclick="set_adop_modif()" @((Detail.PROPOSAL_IS_ADOPSI_MOD == 2) ? "checked" : "")>
                                                Tidak
                                            </label>
                                        </div>
                                    </div>
                                    <div class="help-block">
                                        Adopsi modifikasi standar atau publikasi internasional (ISO/IEC/SDO lain (misalnya ASTM)) (hanya untuk metode terjemahan dalam bahasa indonesia saja).
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Sebutkan standar ISO/IEC/SDO lain yang akan diadopsi secara <b>Modifikasi</b></label>
                                <div class="col-md-9">
                                    <div style="text-align: left" class="input-group col-md-12">
                                        <select class="form-control" data-placeholder="Masukan No Standar adopsi Modifikasi" id="PROPOSAL_NO_STANDAR_MODIFIKASI" name="PROPOSAL_NO_STANDAR_MODIFIKASI">
                                            <option></option>
                                            <option value="@Detail.PROPOSAL_NO_STANDAR_MODIFIKASI" selected="selected">@Detail.PROPOSAL_NO_STD_MOD_ID_NAME</option>
                                        </select>
                                    </div>
                                    <div class="help-block">
                                        Sebutkan standar ISO/EIC/SDO lain (Misalnya ASTM) yang akan diadopsi.(beri nomor standar, tahun terbitan dan judul standar yang akan diadopsi secara Modifikasi)).
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="adopsi_list" style="display: none;">
                            <div class="form-group">
                                <label class="control-label col-md-3">Kebutuhan Mendesak</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <div class="radio-list">
                                            <label>
                                                <input type="radio" class="form-control" name="PROPOSAL_IS_URGENT" id="PROPOSAL_IS_URGENT_1" value="1"  @((Detail.PROPOSAL_IS_URGENT == 1) ? "checked" : "") />
                                                Ya</label>
                                            <label>
                                                <input type="radio" class="form-control" name="PROPOSAL_IS_URGENT" id="PROPOSAL_IS_URGENT_2" value="0"  @((Detail.PROPOSAL_IS_URGENT == 0) ? "checked" : "") />
                                                Tidak
                                            </label>
                                        </div>
                                        <div class="help-block">
                                            Kebutuhan mendesak untuk regulasi teknis (disertai dengan surat dari pejabat setingkat Eselon 1 di instansi teknis yang relevan dengan kebutuhan SNI).
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="revisi_list" style="display: none;">
                            <div class="form-group">
                                <label class="control-label col-md-3">Nomor Judul SNI yang akan di Amandemen/Ralat/Revisi</label>
                                <div class="col-md-9">
                                    <div style="text-align: left" class="input-group col-md-12">
                                        <select class="form-control wajib" data-placeholder="Masukan Nomor SNI" id="PROPOSAL_REVISI_SNI_ID" name="PROPOSAL_REVISI_SNI_ID">
                                            <option value="@Detail.PROPOSAL_REVISI_SNI_ID" selected="selected">@Detail.PROPOSAL_REVISI_NOMOR @Detail.PROPOSAL_REVISI_JUDUL</option>
                                        </select>
                                    </div>
                                    <div class="help-block">
                                        Apabila usulan ini merupakan amandemen/ralat/revisi maka sebutkan nomor dan judul SNI yang akan diusulkan.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Pasal SNI yang di Amandemen/Ralat/Revisi</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <textarea rows="5" id="PROPOSAL_REVISI_PASAL" name="PROPOSAL_REVISI_PASAL" class="form-control wajib">@Detail.PROPOSAL_REVISI_PASAL</textarea>
                                    </div>
                                    <div class="help-block">
                                        Sebutkan bagian atau pasal dari SNI yang akan dilakukan Amandemen/Ralat/Revisi.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Terdapat isi dari standar yang terkait dengan hak paten ?</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <div class="radio-list">
                                        <label>
                                            <input type="radio" class="form-control" name="PROPOSAL_IS_HAK_PATEN" id="PROPOSAL_IS_HAK_PATEN_1" value="1" onclick="sethakpaten()" @((Detail.PROPOSAL_IS_HAK_PATEN == 1) ? "checked" : "") />
                                            Ya</label>
                                        <label>
                                            <input type="radio" class="form-control" name="PROPOSAL_IS_HAK_PATEN" id="PROPOSAL_IS_HAK_PATEN_2" value="0" onclick="sethakpaten()" @((Detail.PROPOSAL_IS_HAK_PATEN == 0) ? "checked" : "") />
                                            Tidak
                                        </label>
                                    </div>
                                    <div class="help-block">
                                        Apakah terdapat isi dari standar yang terkait dengan hak paten ?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Informasi Hak Paten</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <textarea rows="5" @((Detail.PROPOSAL_IS_HAK_PATEN == 1) ? "" : "readonly") id="PROPOSAL_IS_HAK_PATEN_DESC" name="PROPOSAL_IS_HAK_PATEN_DESC" class="form-control">@Detail.PROPOSAL_IS_HAK_PATEN_DESC</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Informasi detail hasil penelitian atau kajian terhadap SNI</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <textarea rows="5" class="form-control" id="PROPOSAL_INFORMASI" name="PROPOSAL_INFORMASI">@Detail.PROPOSAL_INFORMASI</textarea>
                                </div>
                                <div class="help-block">
                                    Berikan informasi detail, termasuk hasil penelitian atau kajian terhadap penerapan SNI tersebut, Jika perlu, tulis pada lembaran terpisah sebagai lampiran
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Lampiran Informasi detail hasil penelitian atau kajian terhadap SNI</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="input-group input-large">
                                            <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                                <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename"></span>
                                            </div>
                                            <span class="input-group-addon btn default btn-file">
                                                <span class="fileinput-new">Pilih File </span>
                                                <span class="fileinput-exists">Ganti </span>
                                                <input type="file" name="PROPOSAL_INFORMASI_FILE_PATH" id="PROPOSAL_INFORMASI_FILE_PATH">
                                            </span>
                                            <a href="#" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Hapus </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="help-block">
                                    Lampiran Terpisah Informasi detail hasil penelitian atau kajian terhadap SNI
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Tujuan dan alasan spesifik mengenai perumusan yang akan dilakukan</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <textarea rows="5" class="form-control" id="PROPOSAL_TUJUAN" name="PROPOSAL_TUJUAN">@Detail.PROPOSAL_TUJUAN</textarea>
                                </div>
                                <div class="help-block">
                                    Tujuan dan alasan spesifik mengenai perumusan yang akan dilakukan (termasuk alasan dilakukan amandemen/revisi/ralat untuk SNI tersebut.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Kesesuaian dengan program pemerintah (sebutkan secara terperinci)</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <textarea rows="5" class="form-control" id="PROPOSAL_PROGRAM_PEMERINTAH" name="PROPOSAL_PROGRAM_PEMERINTAH">@Detail.PROPOSAL_PROGRAM_PEMERINTAH</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Pihak-pihak utama yang Berkepentingan</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <input id="PROPOSAL_PIHAK_BERKEPENTINGAN" type="text" class="form-control tags" placeholder="Tambah Pihak" name="PROPOSAL_PIHAK_BERKEPENTINGAN" value="@Detail.PROPOSAL_PIHAK_BERKEPENTINGAN"/>
                                </div>
                                <div class="help-block">
                                    Pihak-pihak utama yang berkepentingan yang dapat mengambil manfaat dari kegiatan perumusan<br />
                                    <span class="badge badge-warning badge-roundless" style="text-transform: none;">Tekan Enter untuk pihak selanjutnya</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">SNI Acuan Normatif</label>
                            <div class="col-md-9">
                                <div style="text-align: left" class="input-group col-md-12">
                                    <select class="form-control PROPOSAL_REF_SNI_ID" data-placeholder="Masukan Nomor SNI" id="PROPOSAL_REF_SNI_ID" name="PROPOSAL_REF_SNI_ID" multiple="multiple">
                                        @if (ViewBag.AcuanNormatif.Count > 0)
                                        {
                                            foreach (var an in ViewBag.AcuanNormatif)
                                            {
                                            <option value="@an.PROPOSAL_REF_SNI_ID" selected="selected">@an.PROPOSAL_REF_JOIN</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Acuan Non SNI</label>
                            <div class="col-md-9">
                                <div style="text-align: left" class="input-group col-md-12">
                                    <select class="form-control PROPOSAL_REF_NON_SNI" data-placeholder="Masukan Acuan Non SNI" id="PROPOSAL_REF_NON_SNI" name="PROPOSAL_REF_NON_SNI" multiple="multiple">

                                        @if (ViewBag.AcuanNonNormatif.Count > 0)
                                        {

                                            foreach (var an in ViewBag.AcuanNonNormatif)
                                            {
                                            <option value="@an.PROPOSAL_REF_SNI_ID" selected="selected">@an.PROPOSAL_REF_JOIN</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Bibliografi</label>
                            <div class="col-md-9">
                                <div style="text-align: left" class="input-group col-md-12">
                                    <select class="form-control BIBLIOGRAFI" data-placeholder="Masukan Acuan Non SNI" id="BIBLIOGRAFI" name="BIBLIOGRAFI" multiple="multiple">
                                        @if (ViewBag.Bibliografi.Count > 0)
                                        {

                                            foreach (var an in ViewBag.Bibliografi)
                                            {
                                            <option value="@an.PROPOSAL_REF_SNI_ID" selected="selected">@an.PROPOSAL_REF_JOIN</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn green" type="button" onclick="simpan()">Simpan</button>
                                <a class="btn red" type="button" href="@Url.Action("index")">Batal</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>


<script type="text/javascript">
    function cekjenis(ini) {
        var res = parseInt($(ini).val());
        if (res == 2 || res == 3) {
            $(".revisi_list").slideDown("fast", function () {
                getsni();
            });
        } else {
            $(".revisi_list").slideUp("fast", function () {
                removesni();
            });
        }
    }
    function set_jalur(ini) {
        if ($(ini).val() == "2") {
            $(".adopsi_list").slideDown("fast", function () {

            });
        } else {
            $(".adopsi_list").slideUp("fast", function () {

            });
        }
    }
    function cekmetode(ini) {
        var res = parseInt($(ini).val());
        if (res == 3) {
            $(".mod_ind_list").slideDown("fast", function () {

            });
        } else {
            $(".mod_ind_list").slideUp("fast", function () {

            });
        }
    }

    function set_adop_modif() {
        var value = $('input[name="PROPOSAL_IS_ADOPSI_MOD"]:checked').val();
        if (value == 1) {
            $('.adopsimodifikasinomor').prop("readonly", false);
        } else {
            $('.adopsimodifikasinomor').val('');
            $('.PROPOSAL_NO_STANDAR_MODIFIKASI').val('');
            $('.adopsimodifikasinomor').prop("readonly", true);

        }
    }
    function sethakpaten() {
        var value = $('input[name="PROPOSAL_IS_HAK_PATEN"]:checked').val();
        if (value == 0) {
            $('#PROPOSAL_IS_HAK_PATEN_DESC').prop("readonly", true);
        } else {
            $('#PROPOSAL_IS_HAK_PATEN_DESC').prop("readonly", false);
            $('#PROPOSAL_IS_HAK_PATEN_DESC').val('');
        }
    }
    function send_no(ini) {
        var nomorstandar = $('#nomorstandaradopsi').val();
        var tahunstandar = $('#tahunstandaradopsi').val();
        var judulstandar = $('#judulstandaradopsi').val();
        var res = nomorstandar + "," + judulstandar;
        $('#PROPOSAL_NO_STD_ADOPSI_IDENTIK').val(res);
    }
    function send_no_mod(ini) {
        var nomorstandar = $('#nomorstandarmodifikasi').val();
        var tahunstandar = $('#tahunstandarmodifikasi').val();
        var judulstandar = $('#judulstandarmodifikasi').val();
        var res = nomorstandar + "," + judulstandar;
        $('#PROPOSAL_NO_STANDAR_MODIFIKASI').val(res);
    }
    function removesni() {
        $("#PROPOSAL_REVISI_SNI_ID").select2().val(null).trigger("change");
        $("#PROPOSAL_TERJEMAHAN_SNI_ID").select2().val(null).trigger("change");
    }
    function getsni() {

        $("#PROPOSAL_REVISI_SNI_ID").select2({
            allowClear: true,
            width: '100%',
            ajax: {
                url: '/Pengajuan/Usulan/FindSNI',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.sni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            //minimumInputLength: 2,
        });
        $("#PROPOSAL_TERJEMAHAN_SNI_ID").select2({
            allowClear: true,
            width: '100%',
            ajax: {
                url: '/Pengajuan/Usulan/FindSNI',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.sni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            //minimumInputLength: 2,
        });
        $("#PROPOSAL_NO_STANDAR_MODIFIKASI").select2({
            //dropdownAutoWidth : true,
            allowClear: true,
            width: '100%',
            ajax: {
                url: '/Pengajuan/Usulan/FindNonSNI',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.sni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            //minimumInputLength: 2,
        });
        $("#PROPOSAL_NO_STD_ADOPSI_IDENTIK").select2({
            //dropdownAutoWidth : true,
            allowClear: true,
            width: '100%',
            ajax: {
                url: '/Pengajuan/Usulan/FindNonSNI',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.sni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            //minimumInputLength: 2,
        });
    }
    function simpan() {
        var formData = $(".form-control").serializeObject();
        bootbox.dialog({
            message: "Anda yakin menyimpan Data Usulan ini ?",
            title: "Konfirmasi Persetujuan Penyimpanan Usulan",
            buttons: {
                success: {
                    label: "Yakin",
                    className: "green",
                    callback: function () {
                        if ($('#sispk_form').valid()) {
                            bukaloading();
                            $.ajax({
                                type: 'POST',
                                url: "/Pengajuan/Usulan/Update",
                                contentType: "application/json",
                                dataType: 'json',
                                data: JSON.stringify(formData)
                            }).done(function (data) {
                                //tutuploading()
                                $.when(tutuploading()).then(window.location = "/Pengajuan/Usulan");
                            });
                        }
                    }
                },
                danger: {
                    label: "Batal",
                    className: "red",
                    callback: function () {

                    }
                }
            }
        });
    }

    jQuery(document).ready(function () {
        getsni();
        $("#PROPOSAL_REF_SNI_ID").select2({
            //dropdownAutoWidth : true,
            allowClear: true,
            ajax: {
                url: '/Pengajuan/Usulan/FindSNI',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.sni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true,
            },
            //minimumInputLength: 2,
        });
        $("#PROPOSAL_REF_NON_SNI").select2({
            //dropdownAutoWidth : true,
            allowClear: true,
            //width: '100%',
            ajax: {
                url: '/Pengajuan/Usulan/FindNonSNI',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.sni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            //minimumInputLength: 2,
        });
        $("#BIBLIOGRAFI").select2({
            //dropdownAutoWidth : true,
            allowClear: true,
            //width: '100%',
            ajax: {
                url: '/Pengajuan/Usulan/FindBIBLIOGRAFI',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.sni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            //minimumInputLength: 2,
        });
        $('.revisi_list').show();
        $('.adopsi_list').show();
    });
</script>
