@{
    ViewBag.Title = "Pembatalan Usulan/Perumusan";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form Pemeliharaan
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered ng-pristine ng-valid" id="sispk_form" action="Create" method="post" enctype="multipart/form-data">
                    <div class="form-body">


                        <div class="form-group">
                            <label class="control-label col-md-3">No SNI / Judul SNI<span class="required">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control select2me wajib col-md-12" data-placeholder="Pilih No SNI / Judul SNI" id="MAINTENANCE_DETAIL_SNI_ID" name="MAINTENANCE_DETAIL_SNI_ID" onchange="sni()">
                                    <option></option>
                                    @foreach (var sni in ViewBag.V_sni)
                                    {
                                        <option value="@sni.SNI_ID">@sni.SNI_NOMOR / @sni.SNI_JUDUL</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group" id="komtek1" style="display:none">
                            <label class="control-label col-md-3">Komite Teknis / Subkomite Teknis</label>
                            <div class="col-md-3 control-label detailtext">
                                <h5 id="MAINTENANCE_KOMTEK1"></h5>
                                <input type="hidden" class="form-control" name="MAINTENANCE_KOMTEK2" id="MAINTENANCE_KOMTEK2">
                            </div>
                        </div>

                        <div class="form-group" id="komtek2" style="display:none">
                            <label class="control-label col-md-3">Komite Teknis / Subkomite Teknis <span class="required">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control select2me wajib col-md-12" data-placeholder="Pilih Komite Teknis / Subkomite Teknis" id="MAINTENANCE_KOMTEK" name="MAINTENANCE_KOMTEK">
                                    @*<select class="form-control select2me wajib col-md-12" data-placeholder="Pilih Komite Teknis / Subkomite Teknis" id="MAINTENANCE_KOMTEK" name="MAINTENANCE_KOMTEK" onchange="komtek()">*@
                                    <option></option>
                                    @foreach (var kt in ViewBag.ListKomtek)
                                    {
                                        <option value="@kt.KOMTEK_CODE">@kt.KOMTEK_CODE. @kt.KOMTEK_NAME</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Tanggal Kaji Ulang<span class="required">*</span></label>
                            <div class="col-md-3">
                                <div class=" input-group date date-picker" data-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control wajib" id="MAINTENANCE_DETAIL_REV_DATE" name="MAINTENANCE_DETAIL_REV_DATE">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Hasil Kaji Ulang<span class="required">*</span></label>
                            <div class="col-md-3">
                                <select class="form-control wajib" id="MAINTENANCE_DETAIL_RESULT" name="MAINTENANCE_DETAIL_RESULT">
                                    <option value="0">Tetap</option>
                                    <option value="1">Perubahan</option>
                                    <option value="2">Abolisi</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Tanggal Laporan ke BSN<span class="required">*</span></label>
                            <div class="col-md-3">
                                <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
                                    <input type="text" class="form-control wajib" id="MAINTENANCE_DETAIL_REPORT_DATE" name="MAINTENANCE_DETAIL_REPORT_DATE">
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="u_hakPaten">
                            <label class="control-label col-md-3">Upload Formulir Kaji Ulang SNI</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <div class="input-group input-large">
                                            <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                                <i class="fa fa-file fileinput-exists"></i>&nbsp; <span class="fileinput-filename"></span>
                                            </div>
                                            <span class="input-group-addon btn default btn-file">
                                                <span class="fileinput-new">Pilih File </span>
                                                <span class="fileinput-exists">Ganti </span>
                                                <input type="file" name="MAINTENANCE_DETAIL_KJ_ULG_NAME" id="MAINTENANCE_DETAIL_KJ_ULG_NAME" accept=".docx, .pdf" onchange="ValidasiInput1(this)">
                                            </span>
                                            <a href="#" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Hapus </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="help-block">
                                    format upload dalam bentuk file M. office word (.docx / .pdf)<br />
                                </div>
                                <div class="col-md-6 control-label detailtext" style="border-left: none;">
                                    <a href="/Laporan/Export/Formulir_Kaji_Ulang_SNI" target="_blank" style="color: blue; text-decoration: none;">Download Template Kaji Ulang SNI</a>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">No Surat</label>
                            <div class="col-md-3 control-label detailtext">
                                <input type="text" class="form-control" name="MAINTENANCE_DETAIL_NO_SURAT" id="MAINTENANCE_DETAIL_NO_SURAT">
                            </div>
                        </div>

                        @*<div class="form-group" style="margin: 10px;">
                                <table class="table table-bordered" id="list_sni">
                                    <thead>
                                        <tr>
                                            <th width="15%">Nomor SNI</th>
                                            <th width="20%">Tanggal Kaji Ulang</th>
                                            <th width="15%">Hasil Kaji Ulang</th>
                                            <th width="20%">Tanggal Laporan ke BSN</th>
                                            <th width="20%">Tanggal Usulan</th>
                                            <th width="10%" style="text-align:center">Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <select class="form-control wajib SNI_ID" id="SNI_ID_0" name="SNI_ID_[0]" placeholder="Pilih SNI">
                                                </select>
                                            </td>
                                            <td>
                                                <div class=" input-group date date-picker" data-date-format="yyyy-mm-dd">
                                                    <input type="text" class="form-control wajib MAINTENANCE_DETAIL_REV_DATE" id="MAINTENANCE_DETAIL_REV_DATE_0" name="MAINTENANCE_DETAIL_REV_DATE[0]">
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="MAINTENANCE_DETAIL_REV_DATE" name="MAINTENANCE_DETAIL_REV_DATE" />
                                            </td>
                                            <td>
                                                <select class="form-control MAINTENANCE_DETAIL_RESULT" id="MAINTENANCE_DETAIL_RESULT_0" name="MAINTENANCE_DETAIL_RESULT_[0]">
                                                    <option value="0">Tetap</option>
                                                    <option value="1">Perubahan</option>
                                                    <option value="2">Abolisi</option>
                                                </select>
                                                <input type="text" class="form-control" id="MAINTENANCE_DETAIL_RESULT" name="MAINTENANCE_DETAIL_RESULT" />
                                            </td>
                                            <td>
                                                <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
                                                    <input type="text" class="form-control wajib MAINTENANCE_DETAIL_REPORT_DATE" id="MAINTENANCE_DETAIL_REPORT_DATE_0" name="MAINTENANCE_DETAIL_REPORT_DATE[0]">
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="MAINTENANCE_DETAIL_REPORT_DATE" name="MAINTENANCE_DETAIL_REPORT_DATE" />
                                            </td>
                                            <td>
                                                <div class="input-group date date-picker" data-date-format="yyyy-mm-dd">
                                                    <input type="text" class="form-control wajib MAINTENANCE_DETAIL_USUL_DATE" id="MAINTENANCE_DETAIL_USUL_DATE_0" name="MAINTENANCE_DETAIL_USUL_DATE[0]">
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="MAINTENANCE_DETAIL_USUL_DATE" name="MAINTENANCE_DETAIL_USUL_DATE" />
                                            </td>
                                            <td>
                                                <center><button type="button" class="btn btn-primary btn-xs" id="btn-plus-row"><i class="fa fa-plus"></i></button></center>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>*@
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn green" type="button" id="klik_simpan"><i class="fa fa-check"></i>Simpan</button>
                                    <a href="@Url.Action("Index")" class="btn default" type="button">Kembali</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
    <!-- END PORTLET-->
</div>



<script type="text/javascript">
    function sni() {
        var SNI_ID = $('#MAINTENANCE_DETAIL_SNI_ID').val();
        //alert(SNI_ID);
        $.ajax({
            url : '@Url.Action("Cek_sni")' ,
            type: "POST",
            data: { 'SNI_ID': SNI_ID },
            dataType: 'json',
            success: function (d) {

                //alert('sukses');
                //alert(d.idL);
                //alert(d.komtek_kd+"."+d.komtek_nm);
                if(d.komtek_kd != null){
                    $('#MAINTENANCE_KOMTEK1').html(d.komtek_kd + "." + d.komtek_nm);
                    $('#MAINTENANCE_KOMTEK2').val(d.komtek_kd);
                    $('#komtek1').show();
                    $('#komtek2').hide();
                }else{
                    $('#MAINTENANCE_KOMTEK1').html("-");
                    $('#MAINTENANCE_KOMTEK2').val("-");
                    $('#komtek1').hide();
                    $('#komtek2').show();
                }

                return false;

            },
            error: function () {
                //alert('gagal');
            }

        });
    }
    var _validFileExtensions1 = [".docx", ".pdf"];
    function ValidasiInput1(ini) {
        var arrInputs = $(ini);
        for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
            if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions1.length; j++) {
                        var sCurExtension = _validFileExtensions1[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }

                    if (!blnValid) {
                        alert("Maaf, " + sFileName + " tidak dapat di Upload, Extensi yang dapat di Upload adalah : " + _validFileExtensions1.join(", "));
                        $(ini).val('');
                        return false;
                    }
                }
            }
        }

        return true;
    }
    //var _validFileExtensions = [".doc", ".docx", ".jpg", ".jpeg", ".png"];

    $("#proposal_select").hide();

    $("#PROPOSAL_STATUS").change(function () {
        var status = $("#PROPOSAL_STATUS").val();
        //alert(status);

        if (status != "") {
            $("#proposal_select").show();

        }
        else {
            $("#proposal_select").hide();
        }


    })

    //function ValidasiInput(ini) {
    //    var _validFileExtensions = $(ini).attr('data-ext').split(",");
    //    var arrInputs = $(ini);
    //    for (var i = 0; i < arrInputs.length; i++) {
    //        var oInput = arrInputs[i];
    //        if (oInput.type == "file") {
    //            var sFileName = oInput.value;
    //            if (sFileName.length > 0) {
    //                var blnValid = false;
    //                for (var j = 0; j < _validFileExtensions.length; j++) {
    //                    var sCurExtension = _validFileExtensions[j];
    //                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
    //                        blnValid = true;
    //                        break;
    //                    }
    //                }

    //                if (!blnValid) {
    //                    alert("Maaf, " + sFileName + " tidak dapat di Upload, Extensi yang dapat di Upload adalah : " + _validFileExtensions.join(", "));
    //                    $(ini).val('');
    //                    return false;
    //                }
    //            }
    //        }
    //    }

    //    return true;
    //}

    function reset_index_SNI_ID() {
        var idx = 0;
        $('select.SNI_ID').each(function () {
            $(this).attr('name', 'SNI_ID_[' + idx + ']');
            idx++;
        });
    }

    function reset_index_MAINTENANCE_DETAIL_REV_DATE() {
        var idx = 0;

        $('input.MAINTENANCE_DETAIL_REV_DATE').each(function () {
            $(this).attr('name', 'MAINTENANCE_DETAIL_REV_DATE_[' + idx + ']');
            idx++;
        });

    }

    function reset_index_MAINTENANCE_DETAIL_RESULT() {
        var idx = 0;

            $('select.MAINTENANCE_DETAIL_RESULT').each(function () {
                $(this).attr('name', 'MAINTENANCE_DETAIL_RESULT_[' + idx + ']');
                idx++;
            });


    }

    function reset_index_MAINTENANCE_DETAIL_REPORT_DATE() {
        var idx = 0;

            $('input.MAINTENANCE_DETAIL_REPORT_DATE').each(function () {
                $(this).attr('name', 'MAINTENANCE_DETAIL_REPORT_DATE_[' + idx + ']');
                idx++;
            });

    }

    function reset_index_MAINTENANCE_DETAIL_USUL_DATE() {
        var idx = 0;

            $('input.MAINTENANCE_DETAIL_USUL_DATE').each(function () {
                $(this).attr('name', 'MAINTENANCE_DETAIL_USUL_DATE_[' + idx + ']');
                idx++;
            });

    }

    var no = 0;

    function add_row() {
        no++;
        $("#list_sni > tbody").append('<tr id="sni_' + no + '">'
                                        +'<td>'
                                            + '<select class="form-control wajib SNI_ID" id="SNI_ID_' + no + '" name="SNI_ID_[' + no + ']" placeholder="Pilih SNI">'
                                            +'</select>'
                                        +'</td>'
                                        + '<td>'
                                            +'<div class=" input-group date date-picker" id="date_satu_'+no+'">'
                                                + '<input type="text" class="form-control wajib MAINTENANCE_DETAIL_REV_DATE" id="MAINTENANCE_DETAIL_REV_DATE_' + no + '" name="MAINTENANCE_DETAIL_REV_DATE_[' + no + ']">'
                                                +'<span class="input-group-btn">'
                                                    +'<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>'
                                                +'</span>'
                                            +'</div>'
                                        +'</td>'
                                        +'<td>'
                                            + '<select class="form-control MAINTENANCE_DETAIL_RESULT" id="MAINTENANCE_DETAIL_RESULT_' + no + '" name="MAINTENANCE_DETAIL_RESULT_['+no+']">'
                                                +'<option value="0">Tetap</option>'
                                                +'<option value="1">Perubahan</option>'
                                                +'<option value="2">Abolisi</option>'
                                            +'</select>'
                                        +'</td>'
                                        +'<td>'
                                            + '<div class="input-group date date-picker" id="date_dua_' + no + '">'
                                                + '<input type="text" class="form-control wajib MAINTENANCE_DETAIL_REPORT_DATE" id="MAINTENANCE_DETAIL_REPORT_DATE_' + no + '" name="MAINTENANCE_DETAIL_REPORT_DATE_['+no+']">'
                                                +'<span class="input-group-btn">'
                                                    +'<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>'
                                                +'</span>'
                                            +'</div>'
                                        +'</td>'
                                        +'<td>'
                                            + '<div class="input-group date date-picker" id="date_tiga_' + no + '">'
                                                + '<input type="text" class="form-control wajib MAINTENANCE_DETAIL_USUL_DATE" id="MAINTENANCE_DETAIL_USUL_DATE_' + no + '" name="MAINTENANCE_DETAIL_USUL_DATE_['+no+']">'
                                                +'<span class="input-group-btn">'
                                                    +'<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>'
                                                +'</span>'
                                            +'</div>'
                                        +'</td>'
                                        +'<td>'
                                            + '<center><button onclick="hapus_list(' + no + ');"  type="button" class="btn btn-danger btn-xs" id="btn-min"><i class="fa fa-minus"></i></button></center>'
                                        +'</td>'
                                    + '</tr>');

        $('#date_satu_' + no + ' > input').datepicker({ format: 'yyyy-mm-dd' });
        $('#date_dua_' + no + ' > input').datepicker({ format: 'yyyy-mm-dd' });
        $('#date_tiga_' + no + ' > input').datepicker({ format: 'yyyy-mm-dd' });
        $('#count_rows').val

        $("#SNI_ID_"+no).select2({
            //dropdownAutoWidth : true,
            allowClear: true,
            width: '100%',
            ajax: {
                url: '/SNI/Pemeliharaan/Find_Sni',
                dataType: 'json',
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.rasni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            //minimumInputLength: 2,
        });

    }

    function hapus_list(id) {
        $('#sni_' + id).remove();
        reset_index_MAINTENANCE_DETAIL_USUL_DATE();
        reset_index_MAINTENANCE_DETAIL_REPORT_DATE();
        reset_index_MAINTENANCE_DETAIL_RESULT();
        reset_index_MAINTENANCE_DETAIL_REV_DATE();
        reset_index_SNI_ID();

    }
    function send_submit_tipe(res) {
        $('#SUBMIT_TIPE').val(res);
    }

    jQuery(document).ready(function () {

        bukaloading();

        tutuploading();
        $('.date-picker').datepicker({
            orientation: "center",
            autoclose: true
        });
        $("#SNI_ID_0").select2({
            //dropdownAutoWidth : true,
            allowClear: true,
            width: '100%',
            ajax: {
                url: '/SNI/Pemeliharaan/Find_Sni',
                dataType: 'json',
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.rasni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            //minimumInputLength: 2,
        });

        $("#btn-plus-row").click(function () {
            add_row();
        });

        $("#klik_simpan").click(function () {
            var rowCount = $('#list_sni tbody tr').length;
            $("#count_rows").val(rowCount);
            //alert($("#count_rows").val());
            $('#klik_simpan').submit();
        })
    });

</script>
