@*@model SISPK.Models.VIEW_ANGGOTA*@
@{
    ViewBag.Title = "Publikasi SNI";
    var Model = ViewBag.sni;
    int no = 1;
}
<style>
    .isi {
        vertical-align:middle;
        padding-top:5px;
    }
    
</style>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>SNI Yang akan dipublikasi
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered ng-pristine ng-valid" id="sispk_form" action="Create" method="post" enctype="multipart/form-data">
                    <div class="form-body"> 
                      

                        <div class="form-group">
                            <label class="control-label col-md-3">Nomor SK</label>
                            <div class="col-md-5">
                                <div class="input-icon right">                                    
                                    <label class="isi">@Model.SNI_SK_NOMOR</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="file_sni">
                            <label class="control-label col-md-3">SNI File</label>
                            <div class="col-md-4">
                                <div style="text-align: left">
                                    <a href="@ViewBag.doc.DOC_FILE_PATH@ViewBag.doc.DOC_FILE_NAME.@ViewBag.doc.DOC_FILETYPE" download>@ViewBag.doc.DOC_NAME</a>
                                </div>
                            </div>                            
                        </div>

                        <div class="form-group" id="file_sni">
                            <label class="control-label col-md-3">Jumlah Halaman SNI File</label>
                            <div class="col-md-4">
                                <div style="text-align: left">
                                    <label class="isi">@((ViewBag.doc.DOC_INFO == null)? "-" : ViewBag.doc.DOC_INFO ) Halaman</label>
                                </div>
                            </div>
                        </div>
                                               
                        <div class="form-group" id="ganti_sni">
                            <label class="control-label col-md-3">Upload SNI <span style="color: red;">*</span></label>
                            <div class="col-md-4">
                                <div style="text-align: left">
                                    <input type="file" class="wajib" id="file_sni" name="file_sni" onchange="ValidasiInput(this)" data-ext=".doc,.docx" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>                                
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3">Nomor SNI <span style="color: red;">*</span></label>
                            <div class="col-md-5">
                                <div class="input-icon right">
                                    <input type="text" class="form-control wajib" id="SNI_NOMOR" name="SNI_NOMOR" value="@Model.SNI_NOMOR">                                   
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Judul SNI IND <span style="color: red;">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <textarea class="form-control wajib" id="SNI_JUDUL" name="SNI_JUDUL" rows="4">@Model.SNI_JUDUL</textarea>                                 
                                </div>
                            </div>
                        </div>

                         <div class="form-group">
                            <label class="control-label col-md-3">Judul SNI ENG <span style="color: red;">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <textarea class="form-control wajib" id="SNI_JUDUL_ENG" name="SNI_JUDUL_ENG" rows="4">@Model.SNI_JUDUL_ENG</textarea>                                 
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Abstrak IND <span style="color: red;">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <textarea class="form-control wajib" id="PROPOSAL_ABSTRAK" name="PROPOSAL_ABSTRAK" rows="6">@Model.PROPOSAL_ABSTRAK</textarea>                                 
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Abstrak ENG <span style="color: red;">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <textarea class="form-control wajib" id="PROPOSAL_ABSTRAK_ENG" name="PROPOSAL_ABSTRAK_ENG" rows="6">@Model.PROPOSAL_ABSTRAK_ENG</textarea>                                 
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Ruang Lingkup IND <span style="color: red;">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <textarea class="form-control wajib" id="PROPOSAL_RUANG_LINGKUP" name="PROPOSAL_RUANG_LINGKUP" rows="8">@Model.PROPOSAL_RUANG_LINGKUP</textarea>                                 
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Ruang Lingkup ENG <span style="color: red;">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <textarea class="form-control wajib" id="PROPOSAL_RUANG_LINGKUP_ENG" name="PROPOSAL_RUANG_LINGKUP_ENG" rows="8">@Model.PROPOSAL_RUANG_LINGKUP_ENG</textarea>                                 
                                </div>
                            </div>
                        </div>

                       @* <div class="form-group">
                            <label class="control-label col-md-3">Daftar SNI</label>
                            <div class="col-md-9" style="padding-top: 20px; padding-bottom: 0px">
                                    <div class="detailtext">
                                        <ol style="padding-left: 15px;">
                                            @foreach (var sni in ViewBag.listsni)
                                            {
                                                <li>(@sni.SNI_NOMOR) @sni.SNI_JUDUL</li>
                                                
                                            }
                                        </ol>
                                    </div>
                                </div>
                        </div> *@                                          
                                                                       
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="hidden" value="@Model.SNI_ID" name="SNI_ID" id="SNI_ID"/>
                                    <input type="hidden" value="@Model.SNI_PROPOSAL_ID" name="SNI_PROPOSAL_ID" id="SNI_PROPOSAL_ID"/>
                                    <input type="hidden" value="@Model.SNI_SK_ID" name="SNI_SK_ID" id="SNI_SK_ID"/>
                                    <button class="btn blue btn_approval" name="ButtonSimpan" id="ButtonSimpan1" type="submit" value="0">Publikasikan</button>
                                    <a href="@Url.Action("Index")" class="btn default" >Kembali</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<script>
    function ValidasiInput(ini) {
        var _validFileExtensions = $(ini).attr('data-ext').split(",");
        var arrInputs = $(ini);
        for (var i = 0; i < arrInputs.length; i++) {
            var oInput = arrInputs[i];
            if (oInput.type == "file") {
                var sFileName = oInput.value;
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }

                    if (!blnValid) {
                        alert("Maaf, " + sFileName + " tidak dapat di Upload, Extensi yang dapat di Upload adalah : " + _validFileExtensions.join(", "));
                        $(ini).val('');
                        return false;
                    }
                }
            }
        }

        return true;
    }
</script>