@{
    ViewBag.Title = "Tambah ICS";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form Tambah ICS
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered ng-pristine ng-valid" id="sispk_form" action="" method="post">
                    <div class="form-body"> 
                        
                        @*<div class="form-group">
                            <label class="control-label col-md-3">Bidang Kode</label>
                            <div class="col-md-4">
                                <div style="text-align: left" class="input-group col-md-12">
                                    <select class="form-control select2" id="tipe" name="tipe">
                                        <option value="">-- Pilih Tipe --</option>
                                        <option value="1">ICS</option>
                                        <option value="2">SUB-ICS</option>
                                    </select>
                                </div>
                            </div>
                        </div>*@

                         <div class="form-group" id="ics">
                            <label class="control-label col-md-3">Induk / Parent </label>
                            <div class="col-md-9" id="addselect">
                                <div style="text-align: left" class="input-group col-md-12 parentics" id="divselect_0">
                                    <select class="form-control select2me" data-ref="0" id="ics_parent_0" onchange="getChild('ics_parent_0')">
                                        <option value="">-- Pilih Induk/Parent --</option>
                                        @foreach (var ics in ViewBag.listICS)
                                        {
                                           
                                            <option value="@ics.ICS_CODE">@ics.ICS_CODE @ics.ICS_NAME</option>
                                            
                                        }
                                    </select>                                   
                                </div>
                                
                            </div>
                        </div>
                         <div class="form-group" id="add">
                            <label class="control-label col-md-3">Induk/Parent terpilih</label>
                            <div class="col-md-9">
                                <label class="control-label" style="margin-top: -12px;" id="parentchosed">-</label>
                            </div>
                        </div>                 
                        <div class="form-group" id="cik">
                            <label class="control-label col-md-3">Kode ICS<span style="color: red;">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="hidden" id="lastref" class="form-control" value="0">
                                    <input type="hidden" id="ICS_PARENT_CODE" name="ICS_PARENT_CODE" class="form-control">
                                    <input type="text" id="ICS_CODE" name="ICS_CODE" class="form-control wajib">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Nama ICS (Bahasa Inggris) <span style="color: red;">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <input type="text" id="ICS_NAME" name="ICS_NAME" class="form-control wajib">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3">Nama ICS (Bahasa Indonesia) <span style="color: red;">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <input type="text" id="ICS_NAME_IND" name="ICS_NAME_IND" class="form-control wajib">
                                </div>
                            </div>
                        </div> 
                         <div class="form-group">
                            <label class="control-label col-md-3">Tahun ICS <span style="color: red;">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" id="ICS_YEAR" name="ICS_YEAR" class="form-control wajib" maxlength="4">
                                </div>
                            </div>
                        </div>                                              
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn purple" type="submit"><i class="fa fa-check"></i>Simpan</button>
                                    <a href="@Url.Action("Index")" class="btn default" >Kembali</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<script>
    jQuery(document).ready(function ($) {
        $('.sub-menu li').addClass("active opened active");
    });
    
    function getChild(iddata) {
        var $this = $('#' + iddata);
        var values = $this.val();
        var refdata = $this.attr('data-ref');
        var newref = parseInt(refdata) + 1;
        //alert(newref);
        $("#ICS_CODE").val("");
        if ($("#lastref").val() >= newref) {
            for (var n = newref; n < 10; n++) {
                $("#divselect_" + n).remove();
            }
        }
        if (values != '') {
            var option = "<option value=''>-- Pilih Induk/Parent --</option>";
            $.ajax({
                url: '@Url.Action("GetChild")',
                type: "POST",
                data: 'code=' + values,
                success: function (data) {
                    if (data.message == 1) {
                        option += data.value;
                        $("#addselect").append('<div style="text-align: left" class="input-group col-md-12 " id="divselect_' + newref + '"><br/><select class="form-control select2me parentics" data-ref="' + newref + '" id="ics_parent_' + newref + '" onchange="getChild(\'ics_parent_' + newref + '\')">' +
                           option +
                           '</select></div>');
                        $("#ICS_PARENT_CODE").val(values);
                        $("#parentchosed").html($("#" + iddata + " option:selected").text());
                        $("#lastref").val(newref);
                        $("#ics_parent_" + newref).select2();
                        return false;
                    }
                }
            });
        } else {
            $("#ICS_PARENT_CODE").val($("#ics_parent_" + (refdata-1)).val());
            $("#parentchosed").html($("#ics_parent_" + (refdata - 1) + " option:selected").text());
        }
       
    }

    $("#ICS_CODE").blur(function () {
        var val = $("#ICS_PARENT_CODE").val() + "." + $(this).val();
        cekKode(val);
    });
    //$("#ICS_CODE").change(function () {
    //    var val = $("#ICS_PARENT_CODE").val() + "." + $(this).val();
    //    cekKode(val);
    //});

    function cekKode(val) {
        $.ajax({
            url: '@Url.Action("CheckCode")',
            type: "POST",
            data: 'code=' + val,
            success: function (data) {
                if (data.message == 0) {
                    alert("Kode telah digunakan dengan nama ICS : " + data.value);
                    $("#ICS_CODE").val("");
                    $("#ICS_CODE").focus();
                    return false;
                }
            }
        });
    }
</script>