@*@model SISPK.Models.VIEW_ICS*@
@{
    ViewBag.Title = "Lihat ICS";
    var Model = ViewBag.ics_item;
}

<style>
    .isi {
        padding-top:5px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Lihat Detil ICS
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered ng-pristine ng-valid" id="form-username" action="Create" method="post">
                    <div class="form-body"> 
                        <div class="form-group" id="add">
                            <label class="control-label col-md-3">Induk/Parent ICS</label>
                            <div class="col-md-9">
                                <div style="text-align: left" class="input-group col-md-12">
                                    <label class="isi">@Model.ICS_PARENT_CODE @Model.ICS_PARENT_NAME</label>
                                </div>
                            </div>
                        </div>          
                      <div class="form-group" id="ics">
                            <label class="control-label col-md-3">Kode ICS</label>
                            <div class="col-md-4">
                                <div style="text-align: left" class="input-group col-md-12">
                                  <label class="isi">@Model.ICS_CODE</label> 
                                </div>
                            </div>
                        </div>        
                        <div class="form-group" id="cin">
                            <label class="control-label col-md-3">Nama ICS (Bahasa Inggris)</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                   <label class="isi">@Model.ICS_NAME </label> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="cin">
                            <label class="control-label col-md-3">Nama ICS (Bahasa Indonesia)</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <label class="isi">@Model.ICS_NAME_IND </label>
                                </div>
                            </div>
                        </div>

                        @*<div class="form-group" id="thn">
                            <label class="control-label col-md-3">Tahun</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                   <label class="isi">@Model.ICS_YEAR</label>
                                </div>
                            </div>
                        </div>*@
                                                                       
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">                                   
                                    <a href="@Url.Action("Index")" class="btn default" >Kembali</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>