@{
    var Model = ViewBag.lemsert;    
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Form Edit Lembaga Sertifikasi
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered" id="sispk_form" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">No LPK<span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" name="LPK_NOMOR" id="LPK_NOMOR" class="form-control wajib" value="@Model.LPK_NOMOR">
                                    <input type="hidden" name="LPK_ID" id="LPK_ID" class="form-control wajib" value="@Model.LPK_ID">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Nama LPK<span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" name="LPK_NAMA" id="LPK_NAMA" class="form-control wajib" value="@Model.LPK_NAMA">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Jenis LPK<span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control input-large select2me wajib" id="LPK_JENIS" name="LPK_JENIS" data-placeholder="Pilih Jenis LPK">
                                    <option></option>
                                    <option value="6" @((Model.LPK_JENIS == 6) ? "selected" : "")>
                                        LS PRODUK
                                    </option>
                                    <option value="7" @((Model.LPK_JENIS == 7) ? "selected" : "")>
                                        LS SISTEM MANAJEMEN LINGKUNGAN
                                    </option>
                                    <option value="8" @((Model.LPK_JENIS == 8) ? "selected" : "")>
                                        LS HACCP
                                    </option>
                                    <option value="9" @((Model.LPK_JENIS == 9) ? "selected" : "")>
                                        LS EKOLABEL
                                    </option>
                                    <option value="10" @((Model.LPK_JENIS == 10) ? "selected" : "")>
                                        LS SISTEM MANAJEMEN MUTU
                                    </option>
                                    <option value="11" @((Model.LPK_JENIS == 11) ? "selected" : "")>
                                        LS SISTEM MANAJEMEN KEAMANAN PANGAN
                                    </option>
                                    <option value="12" @((Model.LPK_JENIS == 12) ? "selected" : "")>
                                        LEMBAGA VERIFIKASI LEGALITAS KAYU
                                    </option>
                                    <option value="13" @((Model.LPK_JENIS == 13) ? "selected" : "")>
                                        LS PERSONEL
                                    </option>
                                    <option value="14" @((Model.LPK_JENIS == 14) ? "selected" : "")>
                                        LS ORGANIK
                                    </option>
                                    <option value="15" @((Model.LPK_JENIS == 15) ? "selected" : "")>
                                        LEMBAGA PENILAI PENGELOLAAN HUTAN PRODUKSI LESTARI
                                    </option>
                                    <option value="16" @((Model.LPK_JENIS == 16) ? "selected" : "")>
                                        LS SISTEM MANAJEMEN KEAMANAN PADA RANTAI PASOKAN
                                    </option>
                                    <option value="17" @((Model.LPK_JENIS == 17) ? "selected" : "")>
                                        LS SISTEM MANAJEMEN KEAMANAN INFORMASI
                                    </option>
                                    <option value="18" @((Model.LPK_JENIS == 18) ? "selected" : "")>
                                        LS SISTEM MANAJEMEN MUTU ALAT KESEHATAN
                                    </option>
                                    <option value="19" @((Model.LPK_JENIS == 19) ? "selected" : "")>
                                        LEMBAGA VALIDASI/VERIFIKASI GAS RUMAH KACA
                                    </option>
                                    <option value="20" @((Model.LPK_JENIS == 20) ? "selected" : "")>
                                        LS SISTEM MANAJEMEN ENERGI
                                    </option>
                                    <option value="21" @((Model.LPK_JENIS == 21) ? "selected" : "")>
                                        LS USAHA PARIWISATA
                                    </option>
                                    <option value="22" @((Model.LPK_JENIS == 22) ? "selected" : "")>
                                        LEMBAGA SERTIFIKASI
                                    </option>
                                    <option value="23" @((Model.LPK_JENIS == 23) ? "selected" : "")>
                                        LS SISTEM MANAJEMEN ANTI PENYUAPAN
                                    </option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-3">Alamat Lengkap<span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <textarea name="LPK_ALAMAT" rows="3" class="form-control wajib">@Model.LPK_ALAMAT</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Provinsi<span class="required">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control input-large select2me wajib" id="provinsi" name="LPK_PROVINSI" data-placeholder="Pilih Provinsi">
                                    <option></option>
                                    @foreach (var provinsi in ViewBag.Provinsi)
                                    { 
                                        <option value="@provinsi.WILAYAH_ID" @((provinsi.WILAYAH_ID == Model.LPK_PROVINSI) ? "selected" : "")>@provinsi.WILAYAH_NAMA  &nbsp;&nbsp;</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="kotakab" class="col-md-3 control-label">Kota / kabupaten <span class="require">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control input-large select2me wajib" id="kotakab" name="LPK_KABUPATENKOTA" data-placeholder="Pilih Kabupaten">
                                    <option></option>
                                     @foreach (var kab in ViewBag.Kabupaten)
                                     { 
                                        <option value="@kab.WILAYAH_ID" @((kab.WILAYAH_ID == Model.LPK_KABUPATENKOTA) ? "Selected" : "")>@kab.WILAYAH_NAMA  &nbsp;&nbsp;</option>
                                     }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Telepon<span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" name="LPK_TELEPON" id="LPK_TELEPON" class="form-control wajib" value="@Model.LPK_TELEPON">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Fax<span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" name="LPK_FAX" id="LPK_FAX" class="form-control wajib" value="@Model.LPK_FAX">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Kode POS<span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="text" name="LPK_KODE_POS" id="LPK_KODE_POS" class="form-control wajib" value="@Model.LPK_KODE_POS">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Kontak Person</label>
                            <div class="col-md-9">
                                <input id="tags_1" type="text" class="form-control tags wajib" name="LPK_CONTACT_PERSON" value="@Model.LPK_CONTACT_PERSON">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Email<span class="required">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <input type="email" name="LPK_EMAIL" id="LPK_EMAIL" class="form-control wajib" value="@Model.LPK_EMAIL">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Website<span class="required">*</span></label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <input type="url" name="LPK_WEBSITE" id="LPK_WEBSITE" class="form-control wajib" placeholder="http://www.url.com" value="@Model.LPK_WEBSITE">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Periode Awal<span style="color: red;">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <div class="col-md-4 input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control wajib" id="LPK_PERIODE_AWAL" name="LPK_PERIODE_AWAL" value="@Model.LPK_PERIODE_AWAL.ToString("yyyy-MM-dd")">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Periode Akhir<span style="color: red;">*</span></label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <div class="col-md-4 input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                        <input type="text" class="form-control wajib" id="LPK_PERIODE_AKHIR" name="LPK_PERIODE_AKHIR" value="@Model.LPK_PERIODE_AKHIR.ToString("yyyy-MM-dd")">
                                        <span class="input-group-btn">
                                            <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Pilih Scope</label>
                            <div class="col-md-9">
                                <div style="text-align: left" class="input-group col-md-12">
                                    <select class="form-control LPK_SCOPE_SCOPE_ID" data-placeholder="Masukan Nomor SNI" id="LPK_SCOPE_SCOPE_ID" name="LPK_SCOPE_SCOPE_ID" multiple="multiple">
                                        @if (ViewBag.scope.Count > 0)
                                        {

                                            foreach (var an in ViewBag.scope)
                                            {
                                            <option value="@an.SCOPE_ID" selected="selected">@an.SCOPE_CODE @an.SCOPE_NAME</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Pilih SNI</label>
                            <div class="col-md-9">
                                <div style="text-align: left" class="input-group col-md-12">
                                    <select class="form-control LPK_DETAIL_SNI_SNI_ID" data-placeholder="Masukan Nomor SNI" id="LPK_DETAIL_SNI_SNI_ID" name="LPK_DETAIL_SNI_SNI_ID" multiple="multiple">
                                         @if (ViewBag.sni.Count > 0)
                                        {

                                            foreach (var an in ViewBag.sni)
                                            {
                                            <option value="@an.SNI_ID" selected="selected">@an.SNI_NOMOR @an.SNI_JUDUL</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn green" type="submit">Simpan</button>
                                    <a class="btn red" type="button" href="@Url.Action("index")">Batal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {

        bukaloading();

        tutuploading();
        $('.date-picker').datepicker({
            orientation: "center",
            autoclose: true
        });

        $("#LPK_DETAIL_SNI_SNI_ID").select2({
            //dropdownAutoWidth : true,
            allowClear: true,
            //width: '100%',
            ajax: {
                url: '/Portal/LembagaSertifikasi/FindSNI',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.sni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
        });

        $("#LPK_SCOPE_SCOPE_ID").select2({
            //dropdownAutoWidth : true,
            allowClear: true,
            //width: '100%',
            ajax: {
                url: '/Portal/LembagaSertifikasi/FindSCOPE',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {
                    params.page = params.page || 1;
                    return {
                        results: data.sni,
                        pagination: {
                            more: (params.page * 10) < data.total_count
                        }
                    };
                },
                cache: true
            },
            minimumInputLength: 2,
        });

        

        $('#provinsi').select2({ allowClear: true });
        $('#provinsi').change(function () {
            $("#kotakab").select2().val(null).trigger("change");
            if ($(this).val() != 0) {
                $('#kotakab').prop('disabled', false);
                var idParent = $('#provinsi').val();
                var opt = "<option>Pilih Kabupaten</option>";
                $.ajax({
                    type: 'POST',
                    url: '../GetKotaKab/' + idParent,
                    data: { id: idParent },
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        $('#kotakab').empty();
                        opt += data.value;
                        $('#kotakab').addClass("input-large");
                        $('#kotakab').addClass("select2");
                        $('#kotakab').html("").append(opt);
                    }
                });
            } else {
                $('#kotakab').val('');
                $('#kotakab').empty();
                $('#kotakab').removeClass("input-large");
                $('#kotakab').removeClass("select2");
                $("#kotakab").prop("disabled", true);
            }
        });
    });
</script>
<script>

    jQuery('.numbersOnly').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    $(function () {
       

        var custom = new Bloodhound({
            datumTokenizer: function (d) { return d.tokens; },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '../getics?q=%QUERY'
        });

        custom.initialize();

        if (Metronic.isRTL()) {
            $('#ics_terkait_display').attr("dir", "rtl");
        }
        $('#ics_terkait_display').typeahead(null, {
            name: 'ics_terkait_display',
            displayKey: 'name_ics',
            source: custom.ttAdapter(),
            templates: {
                suggestion: Handlebars.compile([
                  '<div class="col-md-12 form-control media">',
                        '<div class="media-body">',
                            '<p>{{name_ics_ind}}</p>',
                        '</div>',
                  '</div>',
                ].join(''))
            }
        }).on('typeahead:selected', function (ev, selected) {
            $('#ics_terkait_display').val('');
            $('#ics_terkait_value').val(selected.id_ics);
            //$('#ics_name').html("<label class='control-label col-md-3'>"+selected.code_ics+" <span style='color:red;vertical-align:top;font-weight:bold;font-size:10px'>x</span></label>");
            $('#ics_show').show();
            var n = 0;
            $('.list_ics').each(function () {
                if (selected.id_ics == $(this).val()) { n++; }
            });
            if (n > 0) {
                alert("Ics sudah ada di list");
            } else {
                var hasil = '<label class="col-md-12" id="ics_' + selected.id_ics + '" >' + selected.code_ics + '.' + selected.name_ics_ind +
							'<input type="hidden" class="list_ics" name="LPK_LINGKUP_ICS_ID" value="' + selected.id_ics + '">&nbsp<a onclick="remove_ics(' + selected.id_ics + ')" style="color:red;font-size:8px" href="javascript:void(0)"><i class="glyphicon glyphicon-remove"></i></a>' +
						'</label>';
                $('#ics_name_ind').append(hasil);
            }

            return false;
        });

        $('#ics_terkait_display').focus(function () {
            //$(this).select();
            $(this).val('');
        });

        $('#ics_terkait_display').blur(function () {
            if ($('#ics_terkait_value').val() == '') {
                $(this).val('');
            }

        });

        $('#ics_terkait_display').keydown(function () {
            $('#ics_terkait_value').val("");
        });
    });

    function remove_ics(id) {
        $('#ics_' + id).remove();
        $('#ics_terkait_display').val('');
    }
</script>

