@{
    var Model = ViewBag.lemsert;
    int no = 1;
}
<style>
    .isi {
        padding-top: 5px;
        vertical-align: middle;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Detail Lembaga Sertifikasi
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal form-bordered" id="sispk_form" method="post" enctype="multipart/form-data">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">No LPK</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <label class="isi">@Model.LPK_NOMOR</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Jenis LPK</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <label>@Model.LPK_JENIS_NAMA</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Nama LPK</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <label class="isi">@Model.LPK_NAMA</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Provinsi</label>
                            <div class="col-md-4">
                                <label class="isi">@ViewBag.Provinsi.WILAYAH_NAMA</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="kotakab" class="col-md-3 control-label">Kota / kabupaten </label>
                            <div class="col-md-4">
                               <label class="isi">@ViewBag.kabupaten.WILAYAH_NAMA</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Telepon</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <label class="isi">@Model.LPK_TELEPON</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Fax</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <label class="isi">@Model.LPK_FAX</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Kode POS</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <label class="isi">@Model.LPK_KODE_POS</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Kontak Person</label>
                            <div class="col-md-9">
                                <label class="isi">@Model.LPK_CONTACT_PERSON</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <label class="isi">@Model.LPK_EMAIL</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Alamat Lengkap</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                     <label class="isi">@Model.LPK_ALAMAT</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Periode Awal</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <label class="isi">@Model.LPK_PERIODE_AWAL</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Periode Akhir</label>
                            <div class="col-md-4">
                                <div class="input-icon right">
                                    <label class="isi">@Model.LPK_PERIODE_AKHIR</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Scope</label>
                            <div class="col-md-6">
                                <div class="input-icon right">
                                    @foreach (var list in ViewBag.scope) {
                                        
                                        <label class="isi"> @list.SCOPE_CODE. @list.SCOPE_NAME</label><br />
                                      
                                    }
                                    
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">SNI</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    @foreach (var list in ViewBag.sni)
                                    {
                                        
                                        <label class="isi">@no. @list.SNI_NOMOR @list.SNI_JUDUL</label><br />
                                        no++;
                                    }
                                    
                                </div>
                            </div>
                        </div>
                       
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <a href="/Portal/LembagaSertifikasi" class="btn default" type="button">Kembali</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {

        bukaloading();

        tutuploading();
        $('.date-picker').datepicker({
            orientation: "center",
            autoclose: true
        });

        $('#provinsi').select2({ allowClear: true });
        $('#provinsi').change(function () {
            $("#kotakab").select2().val(null).trigger("change");
            if ($(this).val() != 0) {
                $('#kotakab').prop('disabled', false);
                var idParent = $('#provinsi').val();
                var opt = "<option>Pilih Kabupaten</option>";
                $.ajax({
                    type: 'POST',
                    url: 'GetKotaKab/' + idParent,
                    data: { id: idParent },
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        $('#kotakab').empty();
                        opt += data.value;
                        $('#kotakab').addClass("input-large");
                        $('#kotakab').addClass("select2");
                        $('#kotakab').html("").append(opt);
                    }
                });
            } else {
                $('#kotakab').val('');
                $('#kotakab').empty();
                $('#kotakab').removeClass("input-large");
                $('#kotakab').removeClass("select2");
                $("#kotakab").prop("disabled", true);
            }
        });
    });
</script>
<script>

    jQuery('.numbersOnly').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    $(function () {

        $('#ics_show').hide();

        var custom = new Bloodhound({
            datumTokenizer: function (d) { return d.tokens; },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: 'getics?q=%QUERY'
        });

        custom.initialize();

        if (Metronic.isRTL()) {
            $('#ics_terkait_display').attr("dir", "rtl");
        }
        $('#ics_terkait_display').typeahead(null, {
            name: 'ics_terkait_display',
            displayKey: 'name_ics',
            source: custom.ttAdapter(),
            templates: {
                suggestion: Handlebars.compile([
                  '<div class="col-md-12 form-control media">',
                        '<div class="media-body">',
                            '<p>{{name_ics_ind}}</p>',
                        '</div>',
                  '</div>',
                ].join(''))
            }
        }).on('typeahead:selected', function (ev, selected) {
            $('#ics_terkait_display').val('');
            $('#ics_terkait_value').val(selected.id_ics);
            //$('#ics_name').html("<label class='control-label col-md-3'>"+selected.code_ics+" <span style='color:red;vertical-align:top;font-weight:bold;font-size:10px'>x</span></label>");
            $('#ics_show').show();
            var n = 0;
            $('.list_ics').each(function () {
                if (selected.id_ics == $(this).val()) { n++; }
            });
            if (n > 0) {
                alert("Ics sudah ada di list");
            } else {
                var hasil = '<label class="col-md-12" id="ics_' + selected.id_ics + '" >' + selected.code_ics + '.' + selected.name_ics_ind +
							'<input type="hidden" class="list_ics" name="LPK_LINGKUP_ICS_ID" value="' + selected.id_ics + '">&nbsp<a onclick="remove_ics(' + selected.id_ics + ')" style="color:red;font-size:8px" href="javascript:void(0)"><i class="glyphicon glyphicon-remove"></i></a>' +
						'</label>';
                $('#ics_name_ind').append(hasil);
            }

            return false;
        });

        $('#ics_terkait_display').focus(function () {
            //$(this).select();
            $(this).val('');
        });

        $('#ics_terkait_display').blur(function () {
            if ($('#ics_terkait_value').val() == '') {
                $(this).val('');
            }

        });

        $('#ics_terkait_display').keydown(function () {
            $('#ics_terkait_value').val("");
        });
    });

    function remove_ics(id) {
        $('#ics_' + id).remove();
        $('#ics_terkait_display').val('');
    }
</script>

