@{
	var Detail = ViewBag.DataProposal;
	var Lampiran = ViewBag.Lampiran;
	var Bukti = ViewBag.Bukti;
	var Surat = ViewBag.Surat;
	var Outline = ViewBag.Outline;
}
<style>
	.select2-selection--single {
		height: 100% !important;
	}

	.select2-selection__rendered {
		word-wrap: break-word !important;
		text-overflow: inherit !important;
		white-space: normal !important;
	}

	.aReference {
		font-size: 14px;
		margin: 5px 0 0;
		font-family: "Open Sans",sans-serif;
		font-weight: 300;
		line-height: 1.1;
		color: inherit;
	}

	a:hover.aReference {
		text-decoration: none;
		color: inherit;
	}

	a:visited.aReference {
		text-decoration: none;
		color: inherit;
	}

	a:active.aReference {
		text-decoration: none;
		color: inherit;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Form Pengesahan RSNI 3
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form class="form-horizontal form-bordered" id="sispk_form" action="" method="post" enctype="multipart/form-data">
					<div class="form-body">
						<div class="form-group">
							<label class="control-label col-md-3">Kode PNPS</label>
							<div class="col-md-9 control-label detailtext">
								<input type="hidden" name="PROPOSAL_ID" id="PROPOSAL_ID" value="@Detail.PROPOSAL_ID"/>
								<input type="hidden" name="PROPOSAL_KOMTEK_ID" id="PROPOSAL_KOMTEK_ID" value="@Detail.KOMTEK_ID"/>
								<input type="hidden" name="PROPOSAL_PNPS_CODE" id="PROPOSAL_PNPS_CODE" value="@Detail.PROPOSAL_PNPS_CODE"/>

								<a href="javascript:void(0)" style="color: blue; text-decoration: none;" onclick="$('#detail').modal('show')">@Detail.PROPOSAL_PNPS_CODE</a>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Komite Teknis / Subkomite Teknis</label>
							<div class="col-md-7 control-label detailtext">
								<a href="javascript:void(0)" onclick="detail_komtek(@Detail.KOMTEK_ID)" style="color: blue; text-decoration: none;">@Detail.KOMTEK_CODE @Detail.KOMTEK_NAME</a>
							</div>
						</div>
						@if (ViewBag.ICS.Count > 0)
						{
							<div class="form-group">
								<label class="control-label col-md-3">ICS</label>
								<div class="col-md-9" style="padding-top: 20px; padding-bottom: 0px">
									<div class="detailtext">
										<ol style="padding-left: 15px;">
											@foreach (var an in ViewBag.ICS)
											{
												<li>@an.ICS_CODE @((an.ICS_NAME_IND == null) ? an.ICS_NAME : an.ICS_NAME_IND)</li>
											}
										</ol>
									</div>
								</div>
							</div>
						}
						<div class="form-group">
							<label class="control-label col-md-3">Judul PNPS</label>
							<div class="col-md-9 control-label detailtext">
								@Detail.PROPOSAL_JUDUL_PNPS
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Details Edit</label>
							<div class="col-md-9 control-label detailtext">
								<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#edit">Show</button>
							</div>
						</div>
						<div id="edit" class="collapse">
							<div class="form-group">
								<label class="control-label col-md-3">Judul RSNI3</label>
								<div class="col-md-9 control-label detailtext">
									@if (Detail.PROPOSAL_JUDUL_SNI_PROPOSAL == "" || Detail.PROPOSAL_JUDUL_SNI_PROPOSAL == null)
									{
										<input type="text" id="PROPOSAL_JUDUL_SNI_PROPOSAL" name="PROPOSAL_JUDUL_SNI_PROPOSAL" class="form-control wajib " value="@((Detail.PROPOSAL_JUDUL_PNPS == null) ? "" : Detail.PROPOSAL_JUDUL_PNPS)">
									}
									else
									{
										<input type="text" id="PROPOSAL_JUDUL_SNI_PROPOSAL" name="PROPOSAL_JUDUL_SNI_PROPOSAL" class="form-control wajib " value="@Detail.PROPOSAL_JUDUL_SNI_PROPOSAL">
									}
									
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Judul Inggris RSNI</label>
								<div class="col-md-3 control-label detailtext">
									<input type="text" class="form-control wajib" id="PROPOSAL_JUDUL_PNPS_ENG" name="PROPOSAL_JUDUL_PNPS_ENG" value="@((Detail.PROPOSAL_JUDUL_PNPS_ENG == null) ? "" : Detail.PROPOSAL_JUDUL_PNPS_ENG)" />
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Ruang Lingkup</label>
								<div class="col-md-9 control-label detailtext">
									<textarea rows="5" id="PROPOSAL_RUANG_LINGKUP" name="PROPOSAL_RUANG_LINGKUP" class="form-control wajib">@((Detail.PROPOSAL_RUANG_LINGKUP == null) ? "" : Detail.PROPOSAL_RUANG_LINGKUP)</textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Jenis Perumusan SNI <span class="required">*</span></label>
								<div class="col-md-4">
									<div style="text-align: left" class="input-group col-md-12">
										<select class="form-control select2me wajib " data-placeholder="Pilih Jenis Perumusan SNI" id="PROPOSAL_JENIS_PERUMUSAN" name="PROPOSAL_JENIS_PERUMUSAN" onchange="pilih_jenis_perumusan(this)">
											<option></option>
											<option value="1" @((Detail.PROPOSAL_JENIS_PERUMUSAN == 1) ? "selected" : "")>Baru</option>
											<option value="2" @((Detail.PROPOSAL_JENIS_PERUMUSAN == 2) ? "selected" : "")>Revisi</option>
											<option value="4" @((Detail.PROPOSAL_JENIS_PERUMUSAN == 4) ? "selected" : "")>Amandemen</option>
											<option value="5" @((Detail.PROPOSAL_JENIS_PERUMUSAN == 5) ? "selected" : "")>Terjemahan SNI Republikasi Reprint / Reprep</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group jalur_perumusan" style="@((Detail.PROPOSAL_JENIS_PERUMUSAN == 2 || Detail.PROPOSAL_JENIS_PERUMUSAN == 1) ? "display:block;" : "display:none;")">
								<label class="control-label col-md-3">Jalur Perumusan SNI <span class="required">*</span></label>
								<div class="col-md-4">
									<div style="text-align: left" class="input-group col-md-12">
										<select class="form-control select2me wajib" data-placeholder="Pilih Jalur Perumusan SNI" id="PROPOSAL_JALUR" name="PROPOSAL_JALUR" onchange="pilih_jalur(this)">
											<option></option>
											<option value="1" @((Detail.PROPOSAL_JALUR == 1) ? "selected" : "")>Perumusan sendiri berdasarkan penelitian</option>
											<option value="2" @((Detail.PROPOSAL_JALUR == 2) ? "selected" : "")>Adopsi</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group daftar_adopsi_terjemahan" style="@((Detail.PROPOSAL_JENIS_PERUMUSAN == 5) ? "display:block;" : "display:none;")">
								<label class="control-label col-md-3">Jenis Adopsi<span class="required">*</span></label>
								<div class="col-md-4">
									<div style="text-align: left" class="input-group col-md-12">
										<select class="form-control select2me wajib" data-placeholder="Pilih Jenis Adopsi" id="PROPOSAL_JENIS_ADOPSI_terjemahan" name="PROPOSAL_JENIS_ADOPSI_TERJEMAHAN" onchange="pilih_jenis_adopsi_terjemahan(this)">
											<option></option>
											<option value="1" @((Detail.PROPOSAL_JENIS_ADOPSI == 1) ? "selected" : "")>Identik</option>
											<option value="2" disabled>Modifikasi</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group daftar_adopsi_ext_terjemahan" style="@((Detail.PROPOSAL_JENIS_PERUMUSAN == 5) ? "display:block;" : "display:none;")">
								<label class="control-label col-md-3">Metode Adopsi</label>
								<div class="col-md-5">
									<div style="text-align: left" class="input-group col-md-12">
										<select class="form-control select2me test" data-placeholder="Pilih Metode Adopsi" id="PROPOSAL_METODE_ADOPSI_terjemahan" name="PROPOSAL_METODE_ADOPSI_TERJEMAHAN">
											<option></option>
											<option value="1" disabled>Publikasi ulang - cetak ulang (Republication Reprint)</option>
											<option value="2" @((Detail.PROPOSAL_METODE_ADOPSI == 2) ? "selected" : "")>Terjemahan 1 Bahasa (Indonesia)</option>
											<option value="3" @((Detail.PROPOSAL_METODE_ADOPSI == 3) ? "selected" : "")>Terjemahan 2 Bahasa (Indonesia dan Inggris)</option>
										</select>
									</div>
								</div>
							</div>

							<div class="daftar_adopsi" style="@((Detail.PROPOSAL_JALUR == 2) ? "display:block;" : "display:none;")">
								<div class="form-group">
									<label class="control-label col-md-3">Jenis Adopsi<span class="required">*</span></label>
									<div class="col-md-4">
										<div style="text-align: left" class="input-group col-md-12">
											<select class="form-control select2me wajib" data-placeholder="Pilih Jenis Adopsi" id="PROPOSAL_JENIS_ADOPSI" name="PROPOSAL_JENIS_ADOPSI" onchange="pilih_jenis_adopsi(this)">
												<option></option>
												<option value="1" @((Detail.PROPOSAL_JENIS_ADOPSI == 1) ? "selected" : "")>Identik</option>
												<option value="2" @((Detail.PROPOSAL_JENIS_ADOPSI == 2) ? "selected" : "")>Modifikasi</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group daftar_adopsi_ext" style="display: block;">
									<label class="control-label col-md-3">Metode Adopsi</label>
									<div class="col-md-5">
										<div style="text-align: left" class="input-group col-md-12">
											<select class="form-control select2me" data-placeholder="Pilih Metode Adopsi" id="PROPOSAL_METODE_ADOPSI" name="PROPOSAL_METODE_ADOPSI">
												<option></option>
												<option value="1" @((Detail.PROPOSAL_METODE_ADOPSI == 1) ? "selected" : "")>Publikasi ulang - cetak ulang (Republication Reprint)</option>
												<option value="2" @((Detail.PROPOSAL_METODE_ADOPSI == 2) ? "selected" : "")>Terjemahan 1 Bahasa (Indonesia)</option>
												<option value="3" @((Detail.PROPOSAL_METODE_ADOPSI == 3) ? "selected" : "")>Terjemahan 2 Bahasa (Indonesia dan Inggris)</option>
											</select>
										</div>
									</div>
								</div>
								<div class="form-group daftar_adopsi_ext_name" style="display: block;">
									<label class="control-label col-md-3">Standar ISO/IEC/SDO lain yang akan diadopsi secara <b><span class="jenis_name">@((Detail.PROPOSAL_JENIS_ADOPSI_NAME == null) ? "-" : Detail.PROPOSAL_JENIS_ADOPSI_NAME)</span></b></label>
									<div class="col-md-9">
										<div style="text-align: left" class="input-group col-md-12">
											<select class="form-control" id="PROPOSAL_ADOPSI_NOMOR_JUDUL" name="PROPOSAL_ADOPSI_NOMOR_JUDUL" multiple="multiple">
												@if (ViewBag.AdopsiList != null)
												{
													foreach (var ad in ViewBag.AdopsiList)
													{
														<option value="@ad.PROPOSAL_ADOPSI_NOMOR_JUDUL" selected="selected">@ad.PROPOSAL_ADOPSI_NOMOR_JUDUL</option>
													}
												}
											</select>
										</div>
										<div class="help-block">
											Sebutkan standar ISO/EIC/SDO lain (Misalnya ASTM) yang akan diadopsi.(beri nomor standar, tahun terbitan dan judul standar yang akan diadopsi secara <span class="jenis_name">@((Detail.PROPOSAL_JENIS_ADOPSI_NAME == null) ? "-" : Detail.PROPOSAL_JENIS_ADOPSI_NAME)</span>).
											<span style="text-transform: none;" class="badge badge-warning badge-roundless">Dapat lebih dari satu</span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group revisi_list" style="@((Detail.PROPOSAL_JENIS_PERUMUSAN == 2) ? "display:block;" : "display:none;")">
								<label class="control-label col-md-3">Nomor Judul SNI yang akan di Revisi</label>
								<div class="col-md-9">
									<div style="text-align: left" class="input-group col-md-12">
										<select class="form-control wajib" id="PROPOSAL_REV_MERIVISI_ID" name="PROPOSAL_REV_MERIVISI_ID" multiple="multiple">
											@if (ViewBag.RevisiList != null)
											{
												foreach (var rl in ViewBag.RevisiList)
												{
													<option value="@rl.ID" selected="selected">@rl.TEXT</option>
												}
											}
										</select>
									</div>
									<div class="help-block">
										Apabila usulan ini merupakan Revisi maka sebutkan nomor dan judul SNI yang akan diusulkan.
									</div>
								</div>
							</div>
							<div class="form-group amd_list" style="@((Detail.PROPOSAL_JENIS_PERUMUSAN == 4) ? "display:block;" : "display:none;")">
								<label class="control-label col-md-3">Nomor Judul SNI yang akan di Amandemen</label>
								<div class="col-md-9">
									<div style="text-align: left" class="input-group col-md-12">
										<select class="form-control wajib" data-placeholder="Pilih SNI yang akan di Amandemen" id="PROPOSAL_AMD_SNI_ID" name="PROPOSAL_AMD_SNI_ID">
											<option value="@Detail.PROPOSAL_AMD_SNI_ID" selected="selected">@(Detail.PROPOSAL_AMD_NOMOR + ", " + Detail.PROPOSAL_AMD_JUDUL)</option>
										</select>
									</div>
									<div class="help-block">
										Apabila usulan ini merupakan Amandemen maka sebutkan nomor dan judul SNI yang akan diusulkan.
									</div>
								</div>
							</div>
							<div class="form-group terjemahan_list" style="@((Detail.PROPOSAL_JENIS_PERUMUSAN == 5) ? "display:block;" : "display:none;")">
								<label class="control-label col-md-3">Nomor Judul SNI yang akan di Terjemahkan</label>
								<div class="col-md-9">
									<div style="text-align: left" class="input-group col-md-12">
										<select class="form-control wajib" data-placeholder="Pilih SNI yang akan di Terjemahkan" id="PROPOSAL_TERJEMAHAN_SNI_ID" name="PROPOSAL_TERJEMAHAN_SNI_ID">
											<option value="@Detail.PROPOSAL_TERJEMAHAN_SNI_ID" selected="selected">@(Detail.PROPOSAL_TERJEMAHAN_NOMOR + ", " + Detail.PROPOSAL_TERJEMAHAN_JUDUL)</option>
										</select>
									</div>
									<div class="help-block">
										Apabila usulan ini merupakan Terjemahkan maka sebutkan nomor dan judul SNI yang akan diusulkan.
									</div>
								</div>
							</div>
							<div class="form-group pasal_list" style="@((Detail.PROPOSAL_JENIS_PERUMUSAN > 1) ? "display:block;" : "display:none;")">
								<label class="control-label col-md-3">Pasal SNI yang di <span class="pasal_list_name">@Detail.PROPOSAL_JENIS_PERUMUSAN_NAME</span></label>
								<div class="col-md-9">
									<div class="input-icon right">
										<textarea rows="5" id="PROPOSAL_PASAL" name="PROPOSAL_PASAL" class="form-control wajib1">@((Detail.PROPOSAL_PASAL == null) ? "-" : Detail.PROPOSAL_PASAL)</textarea>
									</div>
									<div class="help-block">
										Sebutkan bagian atau pasal dari SNI yang akan dilakukan <span class="pasal_list_name">@Detail.PROPOSAL_JENIS_PERUMUSAN_NAME</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">SNI Acuan Normatif</label>
								<div class="col-md-9">
									<div style="text-align: left" class="input-group col-md-12">
										<select class="form-control" data-placeholder="Masukan Nomor SNI" id="PROPOSAL_REF_SNI_ID" name="PROPOSAL_REF_SNI_ID" multiple="multiple">
											@if (ViewBag.AcuanNormatif.Count > 0)
											{
												foreach (var an in ViewBag.AcuanNormatif)
												{
													<option value="@an.PROPOSAL_REF_SNI_ID" selected="selected">@an.PROPOSAL_REF_JOIN</option>
												}
											}
										</select>
									</div>
									<div class="help-block">
										SNI Acuan Normatif dapat dipilih lebih dari satu
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Acuan Non SNI</label>
								<div class="col-md-9">
									<div style="text-align: left" class="input-group col-md-12">
										<select class="form-control PROPOSAL_REF_NON_SNI" data-placeholder="Masukan Acuan Non SNI" id="PROPOSAL_REF_NON_SNI" name="PROPOSAL_REF_NON_SNI" multiple="multiple">
											@if (ViewBag.AcuanNonNormatif.Count > 0)
											{

												foreach (var an in ViewBag.AcuanNonNormatif)
												{
													<option value="@an.PROPOSAL_REF_JOIN" selected="selected">@an.PROPOSAL_REF_JOIN</option>
												}
											}
										</select>
									</div>
									<div class="help-block">
										Acuan Non SNI dapat dipilih lebih dari satu
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Bibliografi</label>
								<div class="col-md-9">
									<div style="text-align: left" class="input-group col-md-12">
										<select class="form-control" data-placeholder="Masukan Acuan Non SNI" id="BIBLIOGRAFI" name="BIBLIOGRAFI" multiple="multiple">
											@if (ViewBag.Bibliografi.Count > 0)
											{

												foreach (var an in ViewBag.Bibliografi)
												{
													<option value="@an.PROPOSAL_REF_JOIN" selected="selected">@an.PROPOSAL_REF_JOIN</option>
												}
											}
										</select>
									</div>
									<div class="help-block">
										Bibliografi dapat dipilih lebih dari satu
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Referensi</label>
							<div class="col-md-7 control-label detailtext">
								<a href="javascript:void(0)" id="bukaref" data-isopen="0" style="color: blue; text-decoration: none;">Buka Referensi</a>
							</div>
						</div>
						 @if (ViewBag.DetailHistoryRatek.Count > 0)
						{
							
							<div class="form-group">
								<label class="control-label col-md-3">Histori Pembahasan RSNI</label>
								<div class="col-md-7 control-label detailtext">
									<ul style="padding-left: 15px;">
										@foreach (var i in ViewBag.DetailHistoryRatek)
										{
											<li>@((i.PROPOSAL_RAPAT_PROPOSAL_STATUS==5)?"Rapat Teknis":"Rapat Konsensus") ke <b>@i.PROPOSAL_RAPAT_VERSION</b>, Tanggal <b>@Convert.ToDateTime(i.PROPOSAL_RAPAT_DATE).ToString("dd MMM yyyy")</b>, Hasil <b>@i.PROPOSAL_RAPAT_STATUS_APPROVAL</b></li>
										}
									</ul>
								</div>
							</div>
							
						}
						@if (ViewBag.DefaultDokumen != null)
						{
							<div class="form-group">
								<label class="control-label col-md-3">Data Pendukung</label>
								<div class="col-md-7 control-label detailtext">
									<ol style="padding-left: 15px;">
										@if (ViewBag.SURAT_UNDANGAN_RAPAT != null)
										{ 
											<li><a href="@ViewBag.SURAT_UNDANGAN_RAPAT.DOC_FILE_PATH@ViewBag.SURAT_UNDANGAN_RAPAT.DOC_FILE_NAME.@ViewBag.SURAT_UNDANGAN_RAPAT.DOC_FILETYPE" target="_blank" style="color: blue; text-decoration: none;">Surat Undangan Rapat Konsensus</a></li>
										}
										@if (ViewBag.SURAT_PENYERAHAN_RSNI != null)
										{
											<li><a href="@ViewBag.SURAT_PENYERAHAN_RSNI.DOC_FILE_PATH@ViewBag.SURAT_PENYERAHAN_RSNI.DOC_FILE_NAME.@ViewBag.SURAT_PENYERAHAN_RSNI.DOC_FILETYPE" target="_blank" style="color: blue; text-decoration: none;">Surat Penyerahan RSNI 3</a></li>
										}
										@if (ViewBag.DefaultDokumen != null)
										{
											<li><a href="@ViewBag.DefaultDokumen.DOC_FILE_PATH@ViewBag.DefaultDokumen.DOC_FILE_NAME.@ViewBag.DefaultDokumen.DOC_FILETYPE" target="_blank" style="color: blue; text-decoration: none;">Data RSNI 3</a></li>
										}
										@if (ViewBag.BERITA_ACARA_RAPAT != null)
										{
											<li><a href="@ViewBag.BERITA_ACARA_RAPAT.DOC_FILE_PATH@ViewBag.BERITA_ACARA_RAPAT.DOC_FILE_NAME.@ViewBag.BERITA_ACARA_RAPAT.DOC_FILETYPE" target="_blank" style="color: blue; text-decoration: none;">Berita Acara Rapat Konsensus</a></li>
										}

										@if (ViewBag.DAFTAR_HADIR_RAPAT != null)
										{
											<li><a href="@ViewBag.DAFTAR_HADIR_RAPAT.DOC_FILE_PATH@ViewBag.DAFTAR_HADIR_RAPAT.DOC_FILE_NAME.@ViewBag.DAFTAR_HADIR_RAPAT.DOC_FILETYPE" target="_blank" style="color: blue; text-decoration: none;">Daftar Hadir Rapat Konsensus</a></li>
										}
										
										@if (ViewBag.NOTULEN_RAPAT != null)
										{
											<li><a href="@ViewBag.NOTULEN_RAPAT.DOC_FILE_PATH@ViewBag.NOTULEN_RAPAT.DOC_FILE_NAME.@ViewBag.NOTULEN_RAPAT.DOC_FILETYPE" target="_blank" style="color: blue; text-decoration: none;">Notulen Rapat Konsensus</a></li>
										}
										@if (ViewBag.REF_LAIN != null)
										{
											<li><a href="@ViewBag.REF_LAIN.DOC_FILE_PATH@ViewBag.REF_LAIN.DOC_FILE_NAME.@ViewBag.REF_LAIN.DOC_FILETYPE" target="_blank" style="color: blue; text-decoration: none;">Referensi Lain Rapat Konsensus</a></li>
										}
									</ol>
								</div>
							</div>
						}
						<div class="form-group">
							<label class="control-label col-md-3">Klasifikasi Jenis SNI</label>
							<div class="col-md-5">
								<div class="input-icon right">
									<select class="form-control select2me" id="KLASIFIKASI_SNI" name="KLASIFIKASI_SNI">
										<option value="">-- Pilih TAS --</option>
                                        <option value="Panduan">Panduan</option>
										<option value="Produk">Produk</option>
                                        <option value="Sistem manajemen">Sistem manajemen</option>
										<option value="Metode Uji">Metode Uji</option>
                                        <option value="Proses">Proses</option>
                                        <option value="Personil">Personil</option>
										<option value="Kosakata/Terminologi">Kosakata/Terminologi</option>
										<option value="Besaran dan Satuan">Besaran/Satuan</option>
                                        <option value="Jasa">Jasa</option>
										<option value="Lainnya">Lainnya</option>
                                        
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Tanggal Penyerahan Laporan Pengendali Mutu</label>
							<div class="col-md-3 control-label detailtext">
								<input type="text" class="form-control wajib date date-picker" id="PROPOSAL_TAS_DATE" name="PROPOSAL_TAS_DATE" data-date-format="yyyy-mm-dd" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Pengendali Mutu</label>
							<div class="col-md-5">
								<div class="input-icon right">
									<select class="form-control select2me wajib" id="PROPOSAL_TAS_ID" name="PROPOSAL_TAS_ID">
										<option value="">-- Pilih TAS --</option>
										@foreach (var ist in ViewBag.ListTas)
										{                                           
											<option value="@ist.TAS_ID">@ist.TAS_NAME</option>                                           
										}
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Laporan Pengendali Mutu</label>
							<div class="col-md-3 control-label detailtext">
								<input type="file" name="LAPORAN_TAS" id="LAPORAN_TAS" onchange="ValidasiInput(this)" class="form-control col-md-3 wajib" data-ext=".pdf" accept=".pdf,application/pdf" style="padding: 0px; font-size: 12px; border-radius: 0px;">
							</div>
						</div>
						 <div class="form-group">
								<label class="control-label col-md-3">Referensi Lain</label>
								<div class="col-md-3 control-label detailtext">
									<input type="file" name="REF_LAIN" id="REF_LAIN" onchange="ValidasiInput(this)" class="form-control col-md-3" data-ext=".pdf" accept=".pdf,application/pdf" style="padding: 0px; font-size: 12px; border-radius: 0px;">
								</div>
							</div>
						<div class="form-group">
							<label class="control-label col-md-3">Status Pengesahan Usulan</label>
							<div class="col-md-9">
								<div class="input-icon right">
									<div class="radio-list">
										<label>
											<input type="radio" class="form-control wajib" name="APPROVAL_TYPE" id="APPROVAL_TYPE_1" value="1">
											<span class="text-success">Lanjut Jajak Pendapat</span></label>
										<label>
											<input type="radio" class="form-control wajib" name="APPROVAL_TYPE" id="APPROVAL_TYPE_2" value="0">
											<span class="text-danger">Lanjut Rapat Konsensus</span>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="aksi_tidak_disetujui" style="display: none;">
							<div class="form-group" style="display: none;">
								<label class="control-label col-md-3">Aksi tidak disetujui</label>
								<div class="col-md-9">
									<div class="input-icon right">
										<div class="radio-list">
											<label>
												<input type="radio" class="form-control" name="APPROVAL_STATUS" id="APPROVAL_STATUS_1" value="0" checked>
												<span class="text-success">Perbaiki</span></label>
											<label>
												<input type="radio" class="form-control" name="APPROVAL_STATUS" id="APPROVAL_STATUS_2" value="2">
												<span class="text-danger">Pembatalan</span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-3">Alasan Lanjut Rapat Konsensus</label>
								<div class="col-md-9 control-label detailtext">
									<textarea class="form-control" id="APPROVAL_REASON" name="APPROVAL_REASON"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-9">
								<button class="btn blue btn_approval" name="ButtonSimpan" id="ButtonSimpan1" type="submit" value="0">Simpan</button>
								<a class="btn red" href="@Url.Action("Index")">Kembali</a>
							</div>
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>




<!--Detail DATA-->
<div class="modal fade bs-modal-lg" id="detail" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Detail Usulan @Detail.PROPOSAL_JUDUL_PNPS</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN PORTLET-->
						<div class="portlet box green" style="margin-bottom: 0px;">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-gift"></i>Detail Data Pengajuan Usulan
								</div>
							</div>
							<div class="portlet-body form">
								<!-- BEGIN FORM-->
								<div class="portlet-body form">
									<!-- BEGIN FORM-->
									<div class="form-horizontal form-bordered">
										<div class="form-body">
											@if (Detail.PROPOSAL_NO_SNI_PROPOSAL != null)
											{
												<div class="form-group">
													<label class="control-label col-md-3">Nomor</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_NO_SNI_PROPOSAL == null) ? "-" : Detail.PROPOSAL_NO_SNI_PROPOSAL)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Judul</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_NO_SNI_PROPOSAL == null) ? "-" : Detail.PROPOSAL_JUDUL_SNI_PROPOSAL)
													</div>
												</div>
											}
											@if (Detail.PROPOSAL_TYPE == 1)
											{
												<div class="form-group">
													<label class="control-label col-md-3">Komite Teknis / Subkomite Teknis</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.KOMTEK_CODE == null) ? "-" : Detail.KOMTEK_CODE + ". " + Detail.KOMTEK_NAME)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Konseptor</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_KONSEPTOR == null) ? "-" : Detail.PROPOSAL_KONSEPTOR)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Institusi Konseptor</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_INSTITUSI == null) ? "-" : Detail.PROPOSAL_INSTITUSI)
													</div>
												</div>
											}
											else
											{
												<div class="form-group">
													<label class="control-label col-md-3">Nama</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_TIM_NAMA == null) ? "-" : Detail.PROPOSAL_TIM_NAMA)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Institusi</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_INSTITUSI == null) ? "-" : Detail.PROPOSAL_INSTITUSI)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Alamat</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_TIM_ALAMAT == null) ? "-" : Detail.PROPOSAL_TIM_ALAMAT)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Telepon</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_TIM_PHONE == null) ? "-" : Detail.PROPOSAL_TIM_PHONE)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Email</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_TIM_EMAIL == null) ? "-" : Detail.PROPOSAL_TIM_EMAIL)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Fax</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_TIM_FAX == null) ? "-" : Detail.PROPOSAL_TIM_FAX)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Komite Teknis / Subkomite Teknis</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_KOMTEK_ID == null) ? "Komtek Belum Ditetapkan" : Detail.KOMTEK_CODE + ". " + Detail.KOMTEK_NAME)
													</div>
												</div>
											}
											@if (ViewBag.ICS.Count > 0)
											{
												<div class="form-group">
													<label class="control-label col-md-3">ICS</label>
													<div class="col-md-9" style="padding-top: 20px">
														<div class="detailtext">
															<ol style="padding-left: 15px;">
																@foreach (var an in ViewBag.ICS)
																{
																	<li>@an.ICS_CODE @((an.ICS_NAME_IND == null) ? an.ICS_NAME : an.ICS_NAME_IND)</li>
																}
															</ol>
														</div>
													</div>
												</div>
											}
											<div class="form-group">
												<label class="control-label col-md-3">Judul PNPS</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_JUDUL_PNPS == null) ? "-" : Detail.PROPOSAL_JUDUL_PNPS)
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Ruang Lingkup</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_RUANG_LINGKUP == null) ? "-" : Detail.PROPOSAL_RUANG_LINGKUP)
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Jenis Perumusan SNI</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_JENIS_PERUMUSAN_NAME == null) ? "-" : Detail.PROPOSAL_JENIS_PERUMUSAN_NAME)
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Jalur Perumusan SNI</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_JALUR == null) ? "-" : Detail.PROPOSAL_JALUR_NAME)
												</div>
											</div>
											@if (Detail.PROPOSAL_JALUR == 2)
											{
												<div class="form-group">
													<label class="control-label col-md-3">Jenis Adopsi</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_JENIS_ADOPSI == null) ? "-" : Detail.PROPOSAL_JENIS_ADOPSI_NAME)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Metode Adopsi</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_METODE_ADOPSI == null) ? "-" : Detail.PROPOSAL_METODE_ADOPSI_NAME)
													</div>
												</div>
												<div class="form-group">
													<label class="control-label col-md-3">Standar ISO/IEC/SDO lain yang akan diadopsi secara <b>@((Detail.PROPOSAL_JENIS_ADOPSI_NAME == null) ? "-" : Detail.PROPOSAL_JENIS_ADOPSI_NAME)</b></label>
													<div class="col-md-9" style="padding-top: 20px">
														<div class="detailtext">
															@if (ViewBag.AdopsiList != null)
															{
																<ol style="padding-left: 15px;">
																	@foreach (var ad in ViewBag.AdopsiList)
																	{
																		<li>@ad.PROPOSAL_ADOPSI_NOMOR_JUDUL</li>
																	}
																</ol>
															}
															else
															{
																<span>-</span>
															}
														</div>
													</div>
												</div>
											}
											@if (Detail.PROPOSAL_JENIS_PERUMUSAN == 2)
											{
												<div class="form-group">
													<label class="control-label col-md-3">Nomor Judul SNI yang akan di Revisi</label>
													<div class="col-md-9" style="padding-top: 20px">
														<div class="detailtext">
															@if (ViewBag.RevisiList != null)
															{
																<ol style="padding-left: 15px;">
																	@foreach (var rl in ViewBag.RevisiList)
																	{
																		<li>@rl.TEXT</li>
																	}
																</ol>
															}
															else
															{
																<span>-</span>
															}
														</div>
													</div>
												</div>
											}
											else if (Detail.PROPOSAL_JENIS_PERUMUSAN == 3)
											{
												<div class="form-group ralat_list">
													<label class="control-label col-md-3">Nomor Judul SNI yang akan di Ralat</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_RALAT_SNI_ID == null) ? "-" : Detail.PROPOSAL_RALAT_NOMOR + ", " + Detail.PROPOSAL_RALAT_JUDUL)
													</div>
												</div>
											}
											else if (Detail.PROPOSAL_JENIS_PERUMUSAN == 4)
											{
												<div class="form-group">
													<label class="control-label col-md-3">Nomor Judul SNI yang akan di Amandemen</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_AMD_SNI_ID == null) ? "-" : Detail.PROPOSAL_AMD_NOMOR + ", " + Detail.PROPOSAL_AMD_JUDUL)
													</div>
												</div>
											}
											else if (Detail.PROPOSAL_JENIS_PERUMUSAN == 5)
											{
												<div class="form-group">
													<label class="control-label col-md-3">Nomor Judul SNI yang akan di Terjemahkan</label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_TERJEMAHAN_SNI_ID == null) ? "-" : Detail.PROPOSAL_TERJEMAHAN_NOMOR + ", " + Detail.PROPOSAL_TERJEMAHAN_JUDUL)
													</div>
												</div>
											}
											@if (Detail.PROPOSAL_JALUR > 1)
											{
												<div class="form-group">
													<label class="control-label col-md-3">Pasal SNI yang di <span class=""></span></label>
													<div class="col-md-9 control-label detailtext">
														@((Detail.PROPOSAL_PASAL == null) ? "-" : Detail.PROPOSAL_PASAL)
													</div>
												</div>
											}
											<div class="form-group">
												<label class="control-label col-md-3">Kebutuhan Mendesak</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_IS_URGENT == null) ? "-" : Detail.PROPOSAL_IS_URGENT_NAME)
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Terdapat isi dari standar yang terkait dengan hak paten ?</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_IS_HAK_PATEN == 1) ? "Ya" : "Tidak")
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Informasi Hak Paten</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_IS_HAK_PATEN_DESC == null) ? "-" : Detail.PROPOSAL_IS_HAK_PATEN_DESC)
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Informasi detail hasil penelitian atau kajian terhadap SNI</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_INFORMASI == null) ? "-" : Detail.PROPOSAL_INFORMASI)
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Lampiran Informasi detail hasil penelitian atau kajian terhadap SNI</label>
												<div class="col-md-9 control-label detailtext">

													@((Lampiran == null) ? "-" : Html.Raw("<a href='" + Lampiran.DOC_FILE_PATH + "" + Lampiran.DOC_FILE_NAME + "." + Lampiran.DOC_FILETYPE + "' target='_blank'>" + Lampiran.DOC_NAME + "</a>"))

												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Tujuan dan alasan spesifik mengenai perumusan yang akan dilakukan</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_TUJUAN == null) ? "-" : Html.Raw(Detail.PROPOSAL_TUJUAN))
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Kesesuaian dengan program pemerintah (sebutkan secara terperinci)</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_PROGRAM_PEMERINTAH == null) ? "-" : Html.Raw(Detail.PROPOSAL_PROGRAM_PEMERINTAH))
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Pihak-pihak utama yang Berkepentingan</label>
												<div class="col-md-9 control-label detailtext" style="padding-top: 20px">
													@if (Detail.PROPOSAL_PIHAK_BERKEPENTINGAN != null)
													{
														string[] PROPOSAL_PIHAK_BERKEPENTINGAN = Detail.PROPOSAL_PIHAK_BERKEPENTINGAN.Split('|');
														if (PROPOSAL_PIHAK_BERKEPENTINGAN.Count() > 0)
														{
															<ol style="padding-left: 15px;">
																@foreach (string PPB in PROPOSAL_PIHAK_BERKEPENTINGAN)
																{
																	<li>@PPB</li>
																}
															</ol>
														}
														else
														{
															<span>-</span>
														}
													}
													else
													{
														<span>-</span>
													}
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Manfaat yang akan didapatkan dengan menerapkan SNI yang diusulkan</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_MANFAAT_PENERAPAN == null) ? "-" : Html.Raw(Detail.PROPOSAL_MANFAAT_PENERAPAN))
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Apakah terdapat organisasi yang mendukung usulan perumusan standar ini?</label>
												<div class="col-md-9 control-label detailtext">
													@((Detail.PROPOSAL_IS_ORG_MENDUKUNG == 1) ? "Ya" : "Tidak")
												</div>
											</div>
											@if (Detail.PROPOSAL_IS_ORG_MENDUKUNG == 1)
											{
												<div class="form-group">
													<label class="control-label col-md-3">Lampirkan bukti dukungan terhadap usulan perumusan standar ini (misalnya surat).</label>
													<div class="col-md-9 control-label detailtext">
														@((Bukti == null) ? "-" : Html.Raw("<a href='" + Bukti.DOC_FILE_PATH + "" + Bukti.DOC_FILE_NAME + "." + Bukti.DOC_FILETYPE + "' target='_blank'>" + Bukti.DOC_NAME + "</a>"))
													</div>
												</div>
											}



											<div class="form-group">
												<label class="control-label col-md-3">SNI Acuan Normatif</label>
												<div class="col-md-9" style="padding-top: 20px">
													<div class="detailtext">
														@if (ViewBag.AcuanNormatif.Count > 0)
														{
															<ol style="padding-left: 15px;">
																@foreach (var an in ViewBag.AcuanNormatif)
																{
																	<li>@an.PROPOSAL_REF_JOIN</li>
																}
															</ol>
														}
														else
														{
															<span>-</span>
														}
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Acuan Non SNI</label>
												<div class="col-md-9" style="padding-top: 20px">
													<div class="detailtext">
														@if (ViewBag.AcuanNonNormatif.Count > 0)
														{
															<ol style="padding-left: 15px;">
																@foreach (var an in ViewBag.AcuanNonNormatif)
																{
																	<li>@an.PROPOSAL_REF_JOIN</li>
																}
															</ol>
														}
														else
														{
															<span>-</span>
														}
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Bibliografi</label>
												<div class="col-md-9" style="padding-top: 20px">
													<div class="detailtext">
														@if (ViewBag.Bibliografi.Count > 0)
														{
															<ol style="padding-left: 15px;">
																@foreach (var an in ViewBag.Bibliografi)
																{
																	<li>@an.PROPOSAL_REF_JOIN</li>
																}
															</ol>
														}
														else
														{
															<span>-</span>
														}
													</div>
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Surat Pengajuan PNPS</label>
												<div class="col-md-9 control-label detailtext">
													@((Surat == null) ? "-" : Html.Raw("<a href='" + Surat.DOC_FILE_PATH + "" + Surat.DOC_FILE_NAME + "." + Surat.DOC_FILETYPE + "' target='_blank'>" + Surat.DOC_NAME + "</a>"))
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Outline RSNI</label>
												<div class="col-md-9 control-label detailtext">
													@((Outline == null) ? "-" : Html.Raw("<a href='" + Outline.DOC_FILE_PATH + "" + Outline.DOC_FILE_NAME + "." + Outline.DOC_FILETYPE + "' target='_blank'>" + Outline.DOC_NAME + "</a>"))
												</div>
											</div>
										</div>
									</div>
									<!-- END FORM-->
								</div>
								<!-- END FORM-->
							</div>
						</div>
						<!-- END PORTLET-->
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn red btn-sm" data-dismiss="modal">Tutup</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!--Detail DATA-->




<div id="res_data_referensi" style="display: none;" data-jumlah="@ViewBag.Dokumen.Count">
	@if (ViewBag.Dokumen.Count != 0)
	{
		foreach (var i in ViewBag.Dokumen)
		{
		<li class="media dok_pen" data-id="@i.DOC_ID">
			<a class="aReference" target="_blank" href="@i.DOC_FILE_PATH@i.DOC_FILE_NAME.@i.DOC_FILETYPE">
				<div class="media-body">
					<h4 class="media-heading">@i.DOC_NAME</h4>
					<div class="media-heading-sub">
						@i.DOC_CREATE_NAME
					</div>
					<div class="isi_dokument_@i.DOC_ID" style="display:none;"></div>
				</div>
			</a>
		</li>
		}
	}
	else
	{
		<li class="media" style="background: #4d6178;">
			<div class="media-body">
				<div class="media-heading-sub" style="text-align: center;">
					Data Tidak Ditemukan
				</div>
			</div>
		</li>
	}
</div>
<div id="res_data_referensi_lain" style="display: none;" data-jumlah="@ViewBag.RefLain.Count">
	@if (ViewBag.RefLain.Count != 0)
	{
		foreach (var i2 in ViewBag.RefLain)
		{
		<li class="media dok_pen" data-id="@i2.DOC_ID" >
			<a class="aReference" target="_blank" href="@i2.DOC_FILE_PATH@i2.DOC_FILE_NAME.@i2.DOC_FILETYPE">
				<div class="media-body">
					<h4 class="media-heading">@i2.DOC_NAME</h4>
					<div class="media-heading-sub">
						@i2.DOC_CREATE_NAME
					</div>
					<div class="isi_dokument_@i2.DOC_ID" style="display:none;"></div>
				</div>
			</a>
		</li>
		}
	}
	else
	{
		<li class="media" style="background: #4d6178;">
			<div class="media-body">
				<div class="media-heading-sub" style="text-align: center;">
					Data Tidak Ditemukan
				</div>
			</div>
		</li>
	}
</div>


<script type="text/javascript">
	//var _validFileExtensions = [".doc", ".docx", ".jpg", ".jpeg", ".png"];
	//function pilih_jenis_perumusan(ini) {
	//	var res = parseInt($(ini).val());
	//	var name = $(ini).find('option:selected').html();
	//	$(".pasal_list").slideDown("fast", function () {
	//		$('.pasal_list_name').html(name);
	//	});
	//	if (res == 1) {
	//		$(".revisi_list").slideUp("fast");
	//		$(".ralat_list").slideUp("fast");
	//		$(".amd_list").slideUp("fast");
	//		$(".terjemahan_list").slideUp("fast");
	//		$('.pasal_list').slideUp("fast");
	//		$(".jalur_perumusan").slideDown("fast");
	//	} else if (res == 2) {
	//		$(".revisi_list").slideDown("fast");
	//		$(".ralat_list").slideUp("fast");
	//		$(".amd_list").slideUp("fast");
	//		$(".terjemahan_list").slideUp("fast");
	//		$(".jalur_perumusan").slideDown("fast");
	//	} else if (res == 3) {
	//		$(".ralat_list").slideDown("fast");
	//		$(".revisi_list").slideUp("fast");
	//		$(".amd_list").slideUp("fast");
	//		$(".daftar_adopsi").slideUp("fast");
	//		$(".terjemahan_list").slideUp("fast");
	//		$(".jalur_perumusan").slideUp("fast");
	//	} else if (res == 4) {
	//		$(".amd_list").slideDown("fast");
	//		$(".ralat_list").slideUp("fast");
	//		$(".revisi_list").slideUp("fast");
	//		$(".daftar_adopsi").slideUp("fast");
	//		$(".terjemahan_list").slideUp("fast");
	//		$(".jalur_perumusan").slideUp("fast");

	//	} else if (res == 5) {
	//		$(".terjemahan_list").slideDown("fast");
	//		$(".amd_list").slideUp("fast");
	//		$(".ralat_list").slideUp("fast");
	//		$(".daftar_adopsi").slideUp("fast");
	//		$(".revisi_list").slideUp("fast");
	//		$(".jalur_perumusan").slideUp("fast");
	//	} else {
	//		$(".revisi_list").slideUp("fast");
	//		$(".ralat_list").slideUp("fast");
	//		$(".amd_list").slideUp("fast");
	//		$(".terjemahan_list").slideUp("fast");
	//		$(".jalur_perumusan").slideUp("fast");
	//	}

	//	if (res == 5) {
	//		$('#PROPOSAL_JALUR').select2("destroy");
	//		$("#PROPOSAL_JALUR option[value='2']").attr("disabled", "disabled");
	//		//ini yg ganti in yg di coment
	//		$('#PROPOSAL_JALUR').val("");
	//		$('#PROPOSAL_JALUR').select2();
	//		//$('#PROPOSAL_JALUR').val("1").trigger("change");
	//	} else {
	//		PROPOSAL_JENIS_ADOPSI
	//		$('#PROPOSAL_JALUR').select2("destroy");
	//		$("#PROPOSAL_JALUR option[value='2']").removeAttr("disabled");
	//		$('#PROPOSAL_JALUR').val("");
	//		$('#PROPOSAL_JALUR').select2();
	//	}
	//}
	function pilih_jenis_perumusan(ini) {
		var res = parseInt($(ini).val());
		var name = $(ini).find('option:selected').html();
		$(".pasal_list").slideDown("fast", function () {
			$('.pasal_list_name').html(name);
		});
		if (res == 1) {
			$(".revisi_list").slideUp("fast");
			$(".ralat_list").slideUp("fast");
			$(".amd_list").slideUp("fast");
			$(".terjemahan_list").slideUp("fast");
			$('.pasal_list').slideUp("fast");
			$(".jalur_perumusan").slideDown("fast");
			$(".daftar_adopsi").slideUp("fast");
			$(".daftar_adopsi_terjemahan").slideUp("fast");
			$(".daftar_adopsi_ext_terjemahan").slideUp("fast");
			$("#PROPOSAL_REV_MERIVISI_ID").val("");
		} else if (res == 2) {
			$(".revisi_list").slideDown("fast");
			$(".ralat_list").slideUp("fast");
			$(".amd_list").slideUp("fast");
			$(".terjemahan_list").slideUp("fast");
			$(".daftar_adopsi").slideUp("fast");
			$(".jalur_perumusan").slideDown("fast");
			$(".daftar_adopsi_terjemahan").slideUp("fast");
			$(".daftar_adopsi_ext_terjemahan").slideUp("fast");
		} else if (res == 3) {
			$(".ralat_list").slideDown("fast");
			$(".revisi_list").slideUp("fast");
			$(".amd_list").slideUp("fast");
			$(".daftar_adopsi").slideUp("fast");
			$(".terjemahan_list").slideUp("fast");
			$(".jalur_perumusan").slideUp("fast");
			$(".daftar_adopsi_terjemahan").slideUp("fast");
			$(".daftar_adopsi_ext_terjemahan").slideUp("fast");
		} else if (res == 4) {
			$(".amd_list").slideDown("fast");
			$(".ralat_list").slideUp("fast");
			$(".revisi_list").slideUp("fast");
			$(".terjemahan_list").slideUp("fast");
			$(".jalur_perumusan").slideUp("fast");
			$(".daftar_adopsi_terjemahan").slideUp("fast");
			$(".daftar_adopsi_ext_terjemahan").slideUp("fast");

		} else if (res == 5) {
			$(".terjemahan_list").slideDown("fast");
			$(".amd_list").slideUp("fast");
			$(".ralat_list").slideUp("fast");
			$(".revisi_list").slideUp("fast");
			$('.pasal_list').slideUp("fast");
			$(".jalur_perumusan").slideDown("fast");
			$(".daftar_adopsi_terjemahan").slideDown("fast");
			$(".daftar_adopsi_ext_terjemahan").slideDown("fast");
		} else {
			$(".revisi_list").slideUp("fast");
			$(".ralat_list").slideUp("fast");
			$(".amd_list").slideUp("fast");
			$(".terjemahan_list").slideUp("fast");
			$(".jalur_perumusan").slideUp("fast");
		}

		if (res == 5) {
			$('#PROPOSAL_JALUR').select2("destroy");
			$("#PROPOSAL_JALUR option[value='1']").attr("disabled", "disabled");
			$('#PROPOSAL_JALUR').select2();
			$('#PROPOSAL_JALUR').val("2").trigger("change");
			$('#PROPOSAL_JENIS_ADOPSI_terjemahan').select2("destroy");
			$("#PROPOSAL_JENIS_ADOPSI_terjemahan option[value='2']").attr("disabled", "disabled");
			$('#PROPOSAL_JENIS_ADOPSI_terjemahan').select2();
			$('#PROPOSAL_JENIS_ADOPSI_terjemahan').val("1").trigger("change");
			$('#PROPOSAL_METODE_ADOPSI_terjemahan').select2("destroy");
			$("#PROPOSAL_METODE_ADOPSI_terjemahan option[value='1']").attr("disabled", "disabled");
			$('#PROPOSAL_METODE_ADOPSI_terjemahan').select2();
			$('#PROPOSAL_METODE_ADOPSI_terjemahan').val("").trigger("change");
		} else {
			$('#PROPOSAL_JALUR').select2("destroy");
			$("#PROPOSAL_JALUR option[value='1']").removeAttr("disabled");
			$('#PROPOSAL_JALUR').val("");
			$('#PROPOSAL_JALUR').select2();
			//$('#PROPOSAL_JENIS_ADOPSI_terjemahan').select2("destroy");
			//$("#PROPOSAL_JENIS_ADOPSI_terjemahan option[value='2']").removeAttr("disabled");
			//$('#PROPOSAL_JENIS_ADOPSI_terjemahan').val("");
			//$('#PROPOSAL_JENIS_ADOPSI_terjemahan').select2();
			//$('#PROPOSAL_METODE_ADOPSI_terjemahan').select2("destroy");
			//$("#PROPOSAL_METODE_ADOPSI_terjemahan option[value='1']").removeAttr("disabled");
			//$('#PROPOSAL_METODE_ADOPSI_terjemahan').val("");
			//$('#PROPOSAL_METODE_ADOPSI_terjemahan').select2();
		}

	}

	//function pilih_jalur(ini) {
	//	var jalur_perumusan = parseInt($(ini).val());
	//	var jenis_perumusan = parseInt($('#PROPOSAL_JENIS_PERUMUSAN').val());
	//	$('#PROPOSAL_JENIS_ADOPSI').select2({
	//		width: '100%',
	//		placeholder: "Pilih",
	//		allowClear: false
	//	}).val("");
	//	$('#PROPOSAL_METODE_ADOPSI').select2({
	//		width: '100%',
	//		placeholder: "Pilih",
	//		allowClear: false
	//	}).val("");
	//	$(".daftar_adopsi_ext").hide();
	//	$(".daftar_adopsi_ext_name").hide();
	//	if (jalur_perumusan == 2 && jenis_perumusan < 5) {

	//		$(".daftar_adopsi").slideDown("fast", function () {
	//			$(".daftar_adopsi_ext").show();
	//			$(".daftar_adopsi_ext_name").hide();
	//		});
	//	} else {
	//		$(".daftar_adopsi").slideUp("fast", function () {
	//			$(".daftar_adopsi_ext").hide();
	//			$(".daftar_adopsi_ext_name").hide();
	//		});
	//	}
	//}
	function pilih_jalur(ini) {
		var jalur_perumusan = parseInt($(ini).val());
		var jenis_perumusan = parseInt($('#PROPOSAL_JENIS_PERUMUSAN').val());
		$('#PROPOSAL_JENIS_ADOPSI').select2({
			width: '100%',
			placeholder: "Pilih",
			allowClear: false
		}).val("");
		$('#PROPOSAL_METODE_ADOPSI').select2({
			width: '100%',
			placeholder: "Pilih",
			allowClear: false
		}).val("");
		$(".daftar_adopsi_ext").hide();
		$(".daftar_adopsi_ext_name").hide();

		if (jalur_perumusan == 2 && jenis_perumusan < 5) {
			$(".daftar_adopsi").slideDown("fast", function () {
				$(".daftar_adopsi_ext").show();
				$(".daftar_adopsi_ext_name").hide();
			});
		} else {
			$(".daftar_adopsi").slideUp("fast", function () {
				$(".daftar_adopsi_ext").hide();
				$(".daftar_adopsi_ext_name").hide();
			});
		}
	}

	//function pilih_jenis_adopsi(ini) {
	//	var res = parseInt($(ini).val());
	//	$(".daftar_adopsi_ext").slideDown("fast", function () {
	//		if (res == 1) {
	//			$('.jenis_name').html('Identik');
	//			$(".daftar_adopsi_ext_name").show('fast');
	//		} else if (res == 2) {
	//			$('.jenis_name').html('Modifikasi');
	//			$(".daftar_adopsi_ext_name").show('fast');
	//		}
	//	});

	//}
	function pilih_jenis_adopsi(ini) {
		var res = parseInt($(ini).val());
		$(".daftar_adopsi_ext").slideDown("fast", function () {
			if (res == 1) {
				$('.jenis_name').html('Identik');
				$(".daftar_adopsi_ext_name").show('fast');
				$('#PROPOSAL_METODE_ADOPSI').select2("destroy");
				$("#PROPOSAL_METODE_ADOPSI option[value='1']").removeAttr("disabled");
				$('#PROPOSAL_METODE_ADOPSI').val("");
				$('#PROPOSAL_METODE_ADOPSI').select2();
				//var data_option = '<option value="1">Publikasi ulang - cetak ulang (Republication Reprint)</option><option value="2">Terjemahan 1 Bahasa (Indonesia)</option><option value="3">Terjemahan 2 Bahasa (Indonesia dan Inggris)</option>';
				//$('#PROPOSAL_METODE_ADOPSI').html(data_option);
			} else if (res == 2) {
				$('.jenis_name').html('Modifikasi');
				$(".daftar_adopsi_ext_name").show('fast');
				$('#PROPOSAL_METODE_ADOPSI').select2("destroy");
				$("#PROPOSAL_METODE_ADOPSI option[value='1']").attr("disabled", "disabled");
				$('#PROPOSAL_METODE_ADOPSI').select2();
				$('#PROPOSAL_METODE_ADOPSI').val("").trigger("change");
				//var data_option = '<option value="1" disabled>Publikasi ulang - cetak ulang (Republication Reprint)</option><option value="2">Terjemahan 1 Bahasa (Indonesia)</option><option value="3">Terjemahan 2 Bahasa (Indonesia dan Inggris)</option>';
				//$('#PROPOSAL_METODE_ADOPSI').html(data_option);
			}
		});

	}

	function pilih_jenis_adopsi_terjemahan(ini) {
		var res = parseInt($(ini).val());
		$(".daftar_adopsi_ext_terjemahan").slideDown("fast", function () {
			if (res == 1) {
				//$('.jenis_name').html('Identik');
				//$(".daftar_adopsi_ext_name").show('fast');
				$('#PROPOSAL_METODE_ADOPSI_terjemahan').select2("destroy");
				$("#PROPOSAL_METODE_ADOPSI_terjemahan option[value='1']").attr("disabled", "disabled");
				$('#PROPOSAL_METODE_ADOPSI_terjemahan').select2();
				$('#PROPOSAL_METODE_ADOPSI_terjemahan').val("").trigger("change");
				//var data_option = '<option value="1">Publikasi ulang - cetak ulang (Republication Reprint)</option><option value="2">Terjemahan 1 Bahasa (Indonesia)</option><option value="3">Terjemahan 2 Bahasa (Indonesia dan Inggris)</option>';
				//$('#PROPOSAL_METODE_ADOPSI').html(data_option);
			}
		});

	}

	function ValidasiInput(ini) {
		var _validFileExtensions = $(ini).attr('data-ext').split(",");
		var arrInputs = $(ini);
		for (var i = 0; i < arrInputs.length; i++) {
			var oInput = arrInputs[i];
			if (oInput.type == "file") {
				var sFileName = oInput.value;
				if (sFileName.length > 0) {
					var blnValid = false;
					for (var j = 0; j < _validFileExtensions.length; j++) {
						var sCurExtension = _validFileExtensions[j];
						if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
							blnValid = true;
							break;
						}
					}

					if (!blnValid) {
						alert("Maaf, " + sFileName + " tidak dapat di Upload, Extensi yang dapat di Upload adalah : " + _validFileExtensions.join(", "));
						$(ini).val('');
						return false;
					}
				}
			}
		}

		return true;
	}
	function send_submit_tipe(res) {
		$('#SUBMIT_TIPE').val(res);
	}

	function cari_dokumen(ini) {
		var tipe = parseInt($(ini).attr('data-tipe'));
		var pencarian = $(ini).val();
		var id = parseInt($('#PROPOSAL_ID').val());

		var formData = { PROPOSAL_ID: id, SEARCH_NAME: pencarian, SEARCH_TIPE: tipe };
		$.ajax({
			type: 'POST',
			url: "/Perumusan/RSNI1/GetContentSearch",
			contentType: "application/json",
			dataType: 'json',
			data: JSON.stringify(formData)
		}).done(function (res) {
			var Dokumen = res.Dokumen;
			var i = Dokumen.length;
			var hasil = "";
			if (i > 0) {
				for (var d = 0; d < i; d++) {
					hasil += '<li class="media dok_pen" data-id="' + Dokumen[d].DOC_ID + '" onclick="openreferensi(' + Dokumen[d].DOC_ID + ');">';
					hasil += '<div class="media-body">';
					hasil += '<h4 class="media-heading">' + Dokumen[d].DOC_NAME + '</h4>';
					hasil += '<div class="media-heading-sub">';
					hasil += Dokumen[d].DOC_CREATE_NAME;
					hasil += '</div>';
					hasil += ' <div class="isi_dokument_' + Dokumen[d].DOC_ID + '" style="display:none;"></div>';
					hasil += '</div>';
					hasil += '</li>';
				}
			} else {
				hasil += '<li class="media" style="background: #4d6178;">';
				hasil += '<div class="media-body">';
				hasil += '<div class="media-heading-sub" style="text-align:center;">';
				hasil += 'Data Tidak Ditemukan';
				hasil += '</div>';
				hasil += '</div>';
				hasil += '</li>';
			}
			if (tipe == 1) {
				$('ul.data_dok_pendukung').html(hasil);
			} else {
				$('ul.data_dok_referensi').html(hasil);
			}
		});
	}
	function openreferensi(id) {
		$('.firstactive').click();
		$('.dropdown-toggle').click();
		$('.susunrsnilayout').find('.deflayout').removeClass('col-md-12').addClass('col-md-6');
		var formData = { DOC_ID: id };
		var IsiContent = "";
		$.ajax({
			type: 'POST',
			url: "/Perumusan/RSNI1/GetContent",
			contentType: "application/json",
			dataType: 'json',
			data: JSON.stringify(formData)
		}).done(function (res) {
			IsiContent = res.data;
			$('.susunrsnilayout').append('<div class="col-md-6 newlayout" style="border-left:none;"><div id="infodetail" contenteditable="false">' + IsiContent + '</div></div>');
			CKEDITOR.inline('infodetail');
		});


	}

	jQuery(document).ready(function () {

		bukaloading();
		//CKEDITOR.disableAutoInline = true;
		//var ckEditor = CKEDITOR.replace('rsni1content', { height: '300px' });

		var dataref = jQuery('#res_data_referensi').html();
		var dataref2 = jQuery('#res_data_referensi_lain').html();
		var datarefjumlah = jQuery('#res_data_referensi').attr("data-jumlah");
		var dataref2jumlah = jQuery('#res_data_referensi_lain').attr("data-jumlah");
		$('ul.data_dok_pendukung').html(dataref);
		$('ul.data_dok_referensi').html(dataref2);
		$('.dok_pendukung_jml').html(datarefjumlah);
		$('.dok_referensi_jml').html(dataref2jumlah);

		//ckEditor.on("instanceReady", function (ev) {
		//    tutupmenu();
		//    tutuploading();
		//});

		$('.searchinput').keypress(function (e) {
			if (e.which == 13) {
				cari_dokumen(this);
			}
		});
		$('#bukaref').click(function () {
			var isOpen = parseInt($(this).attr('data-isOpen'));
			if (isOpen == 1) {
				$(this).attr('data-isOpen', 0);
				$(this).html('Buka Referensi');
			} else {
				$(this).attr('data-isOpen', 1);
				$(this).html('Tutup Referensi');
			}
			$('body').toggleClass('page-quick-sidebar-open');
		});
		//tutupmenu();
		tutuploading();
		$('[name="APPROVAL_TYPE"]').click(function () {
			var res = $(this).val();
			if (res == 1) {
				$('.aksi_tidak_disetujui').slideUp("fast", function () {
					$('[name="APPROVAL_TYPE"]').removeClass('wajib');
					$('#APPROVAL_REASON').removeClass('wajib');
					$('.aksi_publikasi').slideDown("fast", function () {
						$('#POLLING_START_DATE').addClass('wajib');
						$('#POLLING_END_DATE').addClass('wajib');
					});
				});

			} else {
				$('.aksi_tidak_disetujui').slideDown("fast", function () {
					$('[name="APPROVAL_TYPE"]').addClass('wajib');
					$('#APPROVAL_REASON').addClass('wajib');
					$('.aksi_publikasi').slideUp("fast", function () {
						$('#POLLING_START_DATE').removeClass('wajib');
						$('#POLLING_END_DATE').removeClass('wajib');
					});
				});
			}
		});
		$('.date-picker').datepicker({
			orientation: "center",
			autoclose: true
		});
		$("#PROPOSAL_ADOPSI_NOMOR_JUDUL").select2({
			tags: true,
			multiple: true,
			allowClear: false,
			tokenSeparators: [","],
			width: '100%',
			ajax: {
				url: '/Pengajuan/Usulan/FindNonSNIAdopsi',
				dataType: 'json',
				data: function (params) {
					return {
						q: params.term,
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;
					return {
						results: data.sni,
						pagination: {
							more: (params.page * 10) < data.total_count
						}
					};
				},
				cache: true
			}
		});

		$("#PROPOSAL_REV_MERIVISI_ID").select2({
			multiple: true,
			allowClear: false,
			width: '100%',
			ajax: {
				url: '/Pengajuan/Usulan/FindSNI',
				dataType: 'json',
				data: function (params) {
					return {
						q: params.term,
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;
					return {
						results: data.sni,
						pagination: {
							more: (params.page * 10) < data.total_count
						}
					};
				},
				cache: true
			},
		});
		$("#PROPOSAL_RALAT_SNI_ID").select2({
			width: '100%',
			ajax: {
				url: '/Pengajuan/Usulan/FindSNI',
				dataType: 'json',
				data: function (params) {
					return {
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;
					return {
						results: data.sni,
						pagination: {
							more: (params.page * 10) < data.total_count
						}
					};
				},
				cache: true
			},
		});
		$("#PROPOSAL_AMD_SNI_ID").select2({
			width: '100%',
			ajax: {
				url: '/Pengajuan/Usulan/FindSNI',
				dataType: 'json',
				data: function (params) {
					return {
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;
					return {
						results: data.sni,
						pagination: {
							more: (params.page * 10) < data.total_count
						}
					};
				},
				cache: true
			},
		});
		$("#PROPOSAL_TERJEMAHAN_SNI_ID").select2({
			width: '100%',
			ajax: {
				url: '/Pengajuan/Usulan/FindSNI',
				dataType: 'json',
				data: function (params) {
					return {
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;
					return {
						results: data.sni,
						pagination: {
							more: (params.page * 10) < data.total_count
						}
					};
				},
				cache: true
			},
		});
		$("#PROPOSAL_REF_SNI_ID").select2({
			width: '100%',
			ajax: {
				url: '/Pengajuan/Usulan/FindSNI',
				dataType: 'json',
				data: function (params) {
					return {
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;
					return {
						results: data.sni,
						pagination: {
							more: (params.page * 10) < data.total_count
						}
					};
				},
				cache: true,
			},
		});


		$("#PROPOSAL_REF_NON_SNI").select2({
			tags: true,
			multiple: true,
			allowClear: false,
			width: '100%',
			tokenSeparators: [","],
			ajax: {
				url: '/Pengajuan/Usulan/FindNonSNI',
				dataType: 'json',
				data: function (params) {
					return {
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;
					return {
						results: data.sni,
						pagination: {
							more: (params.page * 10) < data.total_count
						}
					};
				},
				cache: true
			},
		});
		$("#BIBLIOGRAFI").select2({
			tags: true,
			multiple: true,
			allowClear: false,
			width: '100%',
			tokenSeparators: [","],
			ajax: {
				url: '/Pengajuan/Usulan/FindBIBLIOGRAFI',
				dataType: 'json',
				data: function (params) {
					return {
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;
					return {
						results: data.sni,
						pagination: {
							more: (params.page * 10) < data.total_count
						}
					};
				},
				cache: true
			},
		});
		$("#PROPOSAL_RETEK_ID").select2({
			tags: true,
			multiple: true,
			allowClear: false,
			tokenSeparators: [";"],
			ajax: {
				url: '/Pengajuan/Usulan/FindRegulator',
				dataType: 'json',
				data: function (params) {
					return {
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;
					return {
						results: data.sni,
						pagination: {
							more: (params.page * 10) < data.total_count
						}
					};
				},
				cache: true
			},
		});
		$("#PROPOSAL_LPK_ID").select2({
			tags: true,
			multiple: true,
			allowClear: false,
			tokenSeparators: [";"],
			ajax: {
				url: '/Pengajuan/Usulan/FindLPK',
				dataType: 'json',
				data: function (params) {
					return {
						q: params.term, // search term
						page: params.page
					};
				},
				processResults: function (data, params) {
					params.page = params.page || 1;
					return {
						results: data.sni,
						pagination: {
							more: (params.page * 10) < data.total_count
						}
					};
				},
				cache: true
			},
		});
	});

</script>
